.leftCol {
	float: left;
	width: 30%;
}

.formLeftCol {
	float: left;
	width: 25%;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 4px;
}

.rightCol {
	float: left;
}

.smallTxt {
	font-size: 11px;
}
