#feedbackarea {
	float: left;
	clear: both;
}

#feedbackDescription {
	float: left;
	clear: both;
}

.feedbackEntry {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
}

#feedbackButtons {
	float: left;
	clear: both;
	margin-bottom: 10px;
	margin-top: 15px;
}

.submitButton {
	float: left;
	margin-left: 160px;
}

.cancelButton {
	float: left;
	margin-left: 50px;
}