#rightarea {
	float: right;
	text-align: left;
	width: 64%;
	padding-top: 0;
	padding-bottom: 20px;
	padding-right: 8px;
}

#leftarea {
	padding-top: 10px;
	float: left;
	width: 30%;
	padding-right: 8px;
}

.feedbackEntry textarea {
	width: 95%;
}

#feedbackarea {
	float: left;
	clear: both;
	width: 100%;
}

.feedbackEntry {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
}

#feedbackType {
	font-style: italic;
}

#feedbackButtons {
	float: left;
	clear: both;
	margin-bottom: 10px;
	margin-top: 15px;
}

.submitButton {
	float: left;
	margin-left: 130px;
}

.cancelButton {
	float: left;
	margin-left: 50px;
}
