#signInTitleDiv {
	float: left;
	padding-bottom: 15px;
}
#signInTitle {
	color: #777788;
	float: left;
	font-size: 32px;
	margin-right: 10px;
}

.noAccount {
	float: left;
	font-size: 12px;
	font-weight: normal;
}

#noAccountTop {
	margin-left: 10px;
	margin-top: 18px;
}

#noAccountBottom {
	float: right;
	margin-left: 10px;
}

#noAccountBottomDiv {
	float: left;
	font-size: 12px;
	margin-bottom: 10px;
	margin-left: 175px;
}

#noAccountBottomText {
	float: left;
}

#loginDiv {
	border: 1px solid #CCCCCC;
	float: left;
	width: 40%;
	margin-bottom: 15px;
}

#UserLoginForm {
	padding: 10px;
}

#UserLoginForm input {
	width: 220px;
}

#UserLoginFormUserusername {
	background-image:url("../../img/users/email-field-icon.png");
	background-repeat: no-repeat;
	background-position: left center;
	height: 25px;
	padding-left: 32px;
}

#UserLoginFormUserpassword {
	background-image: url("../../img/users/password-field-icon.png");
	background-repeat: no-repeat;
	background-position: left center;
	height: 25px;
	padding-left: 32px;
}

#forgotPwdSection {
	font-size: 11px;
}

div.loginSubmitBtn {
	float: left;
	margin-bottom: 5px;
	margin-left: 155px;
	margin-top: 10px;
	font-size: 20px;
}

div.loginMainSubmitBtn {
	float: left;
	margin-bottom: 5px;
	margin-left: 94px;
	margin-top: 10px;
	font-size: 20px;
}

.loginMainSubmitBtn input {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1em;
}

.errorMainMessages {
	float: left;
	clear: both;
	width: 375px; 
}

.errorMainMessages div {
	background-color: #fde9ef;
	color: #f22867;
	width: 59%;
	background-color: #ffffff;
	border: 1px solid #fdb9bf;
	font-size: 11px;
	float: right;
	text-align: center;
	margin-bottom: 10px;
}

