#registerTitleDiv {
	float: left;
	padding-bottom: 15px;
}

#registerTitle {
	color: #777788;
	float: left;
	font-size: 32px;
	margin-right: 10px;
}

.haveAccount {
	font-weight: normal;
	font-size: 12px;
	float: left;
}

#haveAccountTop {
	margin-left: 10px;
	margin-top: 18px;
}

#haveAccountBottom {
	margin-left: 2px;
}

div.loginSubmitBtn {
	margin-left: 72px;
	margin-top: 5px;
}

div.registerSubmitBtn {
	float: left;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 110px;
}

#haveAccount {
	margin-left: 105px;
}

#facebookRegistrationDiv {
	float: left;
	width: 38%;
}

#facebookRegistrationFinalDiv {
	float: left;
	width: 45%;
	clear: both;
}

#facebookRegistration {
	float: left;
	width: 100%;
}

#facebookLovesRPDiv {
	float: left;
	margin-left: 30px;
	width: 50%;
}

#noFacebookSpam {
	float: left;
	margin-left: 30px;
}

#facebookHelp {
	margin-top: 15px;
	margin-left: 5px;
}

#facebookRegisterHelp {
	float: left;
	margin-left: 25px;
	margin-top: 0;
}

#facebookArrow {
	float: left;
	margin-left: 5px;
	margin-top: 0;
}

#facebookLovesRP {
	margin-left: 40px;
}

#toggleFBForm {
	float: left;
	width: 25%;
	margin-bottom: 10px;
	font-size: 11px;
	text-decoration: none;
}

#toggleFBForm2 {
	text-decoration: none;
}

#toggleFBForm3 {
	float: left;
	font-size: 11px;
	margin-left: 142px;
	margin-top: 6px;
}

#fbFormPrefilledText {
	font-size: 11px;
	color: #999;
}

#normalRegistrationDiv {
	width: 42%;
	float: left;
}

#normalRegistrationDivBox {
	border: 1px solid #CCCCCC;
	float: left;
}

.RegisterErrors div {
	background-color: #FFFFFF;
	border: 1px solid #FDB9BF;
	color: #F22867;
	width: 96.5%;
}

.RegisterErrors {
	width: 65%;
}

#UserRegisterForm {
	padding: 10px;
}

#UserRegisterForm input {
	width: 240px;
}

#UserRegisterFormEmail {
	background-image:url("../../img/users/email-field-icon.png");
	background-repeat: no-repeat;
	background-position: left center;
	height: 25px;
	padding-left: 32px;
}

#UserRegisterFormNewPassword {
	background-image: url("../../img/users/password-field-icon.png");
	background-repeat: no-repeat;
	background-position: left center;
	height: 25px;
	padding-left: 32px;
}

#UserRegisterFormPassword {
	background-image: url("../../img/users/password2-field-icon.png");
	background-repeat: no-repeat;
	background-position: left center;
	height: 25px;
	padding-left: 32px;
}

#UserRegisterFormErrorMsgs {
	margin-top: 10px;
	float: left;
}

#tosSection {
	font-size: 10px;
}

#normalRegistrationTopBox {
	padding: 10px;
	color: #333333;
	direction: ltr;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	line-height: 1.28;
	text-align: left;
	border-left: medium none;
	border-right: medium none;
	border-top: medium none;
	background-color: #F2F2F2;
	border: 1px solid #CCCCCC;
}

.registerSubmitMainBtn {
	float: left;
	font-size: 18px;
	margin-bottom: 5px;
	margin-left: 110px;
	margin-top: 10px;
}

#UserRegisterForm .registerSubmitMainBtn input {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1em;
	font-size: 20px;
	padding: 10px;
	float: right;
}
