#joinDialog {
	width: 550px;
	font-weight: normal;
}

#signupDiv {
	float: left;
	width: 100%;
	border-radius: 10px;
	margin-bottom: 10px;
}

#signupTopSectionDiv {
	padding: 10px 10px 10px 20px;
	background-color: #ffffff;
	border-radius: 15px 15px 0 0px;
}

#normalSignupButton {
	float: left;
	margin-top: 12px;
}

/* Facebook button */
#facebookSignupDiv {
	float: left;
	height: 50px;
}
#facebookSignupButton {
	float: left;
	margin-top: 20px;
	font-size: 18px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	outline: 0;
	font-weight: bold;
	cursor: pointer;
	padding: 0 6px;
	background-color: #354F83;
	background: -moz-linear-gradient(100% 100% 90deg,#354F83,#556FA4);
	background-image: -o-linear-gradient(#556FA4,#354F83);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	&:hover {
		-moz-box-shadow: 0px 0px 10px 1px #ddddff;
		-webkit-box-shadow: 0px 0px 10px 1px #ddddff;
		-o-box-shadow: 0px 0px 10px 1px #ddddff;
		box-shadow: 0px 0px 10px 1px #ddddff;
	}
}

#facebookAdvantagesDiv {
	float: left;
	width: 44%;
	margin-left: 15px;
}
#facebookAdvantagesText {
	float: left;
	background-color: #EBEBEB;
	color: #2C2C2C;
	font-size: 12px;
	border-radius: 5px;
	padding: 6px;
	margin-top: 5px;
}
.fbLoginBanner {
	float: left;
	i {
		float: left;
		font-size: 28px;
		margin-top: 5px;
		margin-left: 5px;
	}
}
.fbloginDivider {
	float: left;
	height: 34px;
	border-right: 1px solid #2C3D61;
	display: inline-block;
	border-left: 1px solid #607EB7;
	margin-left: 10px;
	margin-right: 10px;
}
.fblogwithface {
	float: left;
	padding: 5px;
}

.loginSectionDiv {
	color: #ffffff;
	float: left;
	margin-top: 10px;
}
.loginLinkDiv {
	float: left;
	cursor: pointer;
	margin-top: 10px;
	font-weight: bold;
	text-decoration: underline;
}
.signupLinkDiv {
	float: left;
	cursor: pointer;
	margin-top: 10px;
	font-weight: bold;
	text-decoration: underline;
}

#tosDiv {
	float: left;
	margin-top: 10px;
	color: #777;
}

#tosDiv span {
	float: left;
}

.tosLink {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	color: #bbb;
	cursor: pointer;
}

.tosLink:hover {
	color: #fff;
}

.alreadyMemberDiv {
	float: left;
	margin-top: 10px;
	color: #999999;
}
.loginLockIcon {
	float: left;
	i {
		font-size: 26px;
		color: #aaaaaa;
		margin-top: 1px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

#signupArea {
	padding-left: 20px;
	float: left;
	width: 99%;
}

#signupDescription {
	float: left;
	clear: both;
	color: #aaa;
	margin-top: 10px;
	font-size: 18px;
}

.submitButton {
	float: left;
	margin-left: 130px;
}

.cancelButton {
	float: left;
	margin-left: 50px;
}

.line {
	border-bottom: 1px solid #555;
	margin-top: 25px;
	width: 94%;
}

#signupForm {
	float: left;
	margin: 25px 0px 0px 0px;
	width: 100%;
}

.signupLoginField {
	padding: 10px 15px 10px 15px;
	font-size: 14px;
	width: 54%;
	margin-bottom: 5px;
	border: 2px solid #777;
	border-radius: 8px;
	&:active, &:focus {
		border: 2px solid #ffffff;
		-moz-box-shadow: 0px 0px 20px 2px #ddddff;
		-webkit-box-shadow: 0px 0px 20px 2px #ddddff;
		-o-box-shadow: 0px 0px 20px 2px #ddddff;
		box-shadow: 0px 0px 20px 2px #ddddff;
	}
}

input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
input:-ms-input-placeholder {
	color: #777;
}
::-webkit-input-placeholder {
	color: #777;
}
:-moz-placeholder {
	color: #777;
}
:-ms-input-placeholder {
	color: #777;
}

.signupFormIcon, .loginFormIcon {
	font-size: 42px;
	float: left;
	margin-top: 2px;
	margin-right: 18px;
	color: #777;
	width: 40px;
}

#genderType {
	font-style: italic;
	border-radius: 5px;
	width: 124px;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #CCC;
	height: 34px;
}

select {
	padding:3px;
	margin: 0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	outline:none;
	display: inline-block;
	cursor:pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	select {padding-right:18px}
}

/*
label {
	position:relative
	&:after {
		content: '<>';
		font: 14px "Consolas", monospace;
		color: #000;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		right: 8px;
		top: -2px;
		padding:0 0 2px;
		border-bottom: 1px solid #ddd;
		position: absolute;
		pointer-events: none;
	}
	&:before {
		content: '';
		right: 6px;
		top: -5px;
		width: 20px;
		height: 22px;
		background: #f8f8f8;
		position: absolute;
		pointer-events: none;
		display: block;
	}
}
*/