#leftCol,#rightCol{float:left;width:30%;padding-left:15px;padding-right:8px;margin-left:15px}.widget{float:left;width:100%;min-height:200px;margin-bottom:20px}.adWidget{margin-bottom:10px}.quizWidget{float:left;margin-bottom:20px}.widgetTitle{font-size:18px}