.tooltip{
	width: 200px;
	font:lighter 11px/1.3 Arial,sans-serif;
	/*font-family: Phyllis,'Lucida',cursive;*/
	font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, Verdana, sans-serif;
	color: #ffffff;
	font-weight:bold;
	text-decoration:none;text-align:center
}

.tooltip span.top {
	padding: 30px 8px 0;
	background: url(../../img/bubble_tooltips/bt.gif) no-repeat top
}

.tooltip b.bottom {
	padding:3px 8px 15px;
	color: #333333;
	background: url(../../img/bubble_tooltips/bt.gif) no-repeat bottom
}
