#moreQuzzes {
	float: left;
	width: 100%;
}

#showMorePicks {
	float: left;
	width: 100%;
}

#showMorePicksTitle {
	float: left;
	clear: both;
	width: 100%;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#showMorePicksImage {
	float: left;
	width: 48px;
	height: 40px;
	background: url(../../img/header/checkcross_small.png) no-repeat 7px -33px;
}

#showMorePicksText {
	margin-top: 15px;
}

.showMorePicksEntry {
	float: left;
	clear: both;
	font-weight: bold;
	width: 95%;
	padding: 10px;
}

.showMorePicksEntryHover {
	cursor: pointer;
}

.showMorePicksBullet {
	float: left;
	font-size: 18px;
}

.showMorePicksHyperlink {
	float: left;
	margin-left: 15px;
	margin-top: 3px;
	width: 90%;

}

.showMorePicksHyperlink  a, #showMorePicksMore a{
	text-decoration: none;
}

#showMorePicksMore {
	float: right;
	clear: both;
	margin-top: 15px;
	margin-right: 15px;
}