#information {
	clear: both;
	background: #CCFDDE;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 95%;
	font-size: 13px;
	border-radius: 6px;
	line-height: 20px;
}

.sectionTitle {
	float: left;
	clear: both;
	font-weight: bold;
	color: #777788;
}

.qAndATitle {
	width: 95px;
	padding-left: 5px;
}

.textbox {
	float: left;
	margin-bottom: 20px;
}

#myPickChoices {
	float: left;
	width: 510px;
	margin-bottom: 20px;
}

.pickChoice {
	float: left;
}

.pickChoice img {
	float: left;
}

.pickChoice div.pickChoiceDetail {
	float: left;
	margin-left: 40px;
}

.pickChoiceDescLabel {
	font-weight: bold;
	clear: both;
}

.pickChoiceDescInput {
	clear: both;
}

.pickChoiceAddImage {
	clear: both;
	font-weight: bold;
}

.submitButton {
	float: left;
	margin-left: 160px;
}

.cancelButton {
	float: left;
	margin-left: 50px;
}

#pickButtons {
	float: left;
	clear: both;
	margin-bottom: 10px;
	margin-top: 15px;
}

#addPickChoiceBtn {
	clear: both;
	margin-top: 10px;
	font-weight: bold;
}

#bottomText {
	float: left;
	margin-left: 90px;
}

.defaultText {
	width: 320px;
}

.defaultTextActive {
	color: #a1a1a1;
	font-style: italic;
}
