#picksarea {
	float: left;
	clear: both;
	width: 98%;
	margin-top: 10px;
}

#addQuestion {
	float: right;
	margin-top: 8px;
}

.myPick {
	clear: both;
	float: left;
	padding: 10px;
	width: 98%;
	cursor: pointer;
}

.myPick:hover{
	background: #EEEEF3;
}

.myPickText {
	float: left;
	padding-top: 20px;
	width: 55%;
}

.myPickText a {
	font-weight: bold;
}

.myPickResult {
	float: left;
	width: 55%;
}

.myPickPictures {
	float: right;
}

.myPickPictures img {
	float: left;
	margin-right: 10px;
	border: 2px solid #778;
	border-radius: 5px;
}

@media screen and (max-width: 600px) {
	.myPickText {
		width: 100%;
		float: left;
		margin-left: 15px;
		text-align: left;
	}
	.myPickPictures {
		float: left;
		clear: both;
		margin-top: 10px;
		margin-left: 12px;
	}
}


.pickChoiceDefault {
	float: left;
	border: 2px solid #778;
	width: 100px;
	height: 100px;
	margin-right: 10px;
	text-align: center;
	background-color: #778;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

.myPickImg1 {
	float: left;
	clear: both;
	width: 105px;
	text-align: center;
}

.myPickImg2 {
	float: left;
	width: 105px;
	margin-left: 10px;
	text-align: center;
}
