#questionarea {
	float: left;
	clear: both;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
	padding-bottom: 8px;
}

#questionText {
	margin-top: 0;
	margin-bottom: 0;
	width: 80%;
	float: left;
}

#addQuestion {
	float: right;
	margin-top: 0;
}

#choicesarea {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 20px;
}

#pickOne {
	float: left;
	width: 30%;
	margin-bottom: 15px;
}

.report {
	float: right;
	width: 30%;
	text-align: right;
}

.pick {
	width: 100%;
	min-height: 132px;
	clear: both;
	background: none;
	border-width: 0;
	border-style: none;
	margin-top: 0;
	vertical-align: baseline;
}

.pickMargin {
	margin-top: 15px;
}

.pickText {
	float: left;
	font-size: 18px;
	margin-left: 40px;
	width: 45%;
	text-align: left;
	margin-top: 15px;
}

.pickImage {
	float: left;
	margin-left: 10px;
	width: 100px;
	height: 100px;
	border: 1px solid #889;
	background-color: #EEEEF0;
	margin-top: 15px;
}

.pickImageDefault {
	float: left;
	margin-left: 10px;
	width: 100px;
	height: 100px;
	border: 1px solid #889;
	text-align: center;
	background-color: #778;
	color: white;
	font-weight: bold;
	margin-top: 15px;
}

#author {
	float: left;
	font-size: 11px;
	margin-left: 10px;
}

.links {
	float: right;
	margin-right: 5px;
}

#bottomarea {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.pretty-hover, #hover-demo1 p:hover {
	background: #EEEEEE;
	background-image: url("../../img/pickme.png");
	background-position: 440px 13px;
	background-repeat: no-repeat;
	cursor: pointer;
}
