#picksInterestingTitle {
	float: left;
	clear: both;
	width: 100%;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#picksInterestingImage {
	float: left;
	width: 48px;
	height: 40px;
	background: url("../../img/header/smiling_star_small.png") no-repeat scroll 2px -40px;
}

#picksInterestingTitleText {
	margin-top: 10px;
	float: left;
	font-size: 18px;
}

#picksInterestingArea {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 15px;
}

.picksInterestingEntry {
	clear: both;
	float: left;
	padding: 10px;
	width: 96%;
	cursor: pointer;
}

.picksInterestingEntry:hover{
	background: #EEEEF3;
}

.picksInterestingPicture {
	float: left;
	/*border: 1px solid #778;*/
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.picksInterestingTextArea {
	float: left;
	margin-left: 15px;
	width: 45%;
	text-align: left;
}
@media screen and (max-width: 980px) {
	.picksInterestingTextArea {
		width: 45%;
	}
}

.picksInterestingTextpage {
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 8px;
}

.picksInterestingPick {
	font-size: 16px;
	font-weight: bold;
	float: left;
}

.picksInterestingText {
	font-size: 14px;
	font-weight: normal;
	color: #777;
	margin-top: 5px;
	clear: both;
	float: left;
}

.picksInterestingToptwo {
	float: right;
	width: 225px;
}
@media screen and (max-width: 600px) {
	.picksInterestingTextArea {
		width: 100%;
		float: left;
		margin-left: 15px;
		text-align: left;
	}
	.picksInterestingToptwo {
		float: left;
		clear: both;
		margin-top: 10px;
		margin-left: 12px;
	}
}

.picksInterestingChoice {
	float: left;
	margin-right: 10px;
	height: 100px;
	width: 100px;
	text-align: center;
	background-color: #778;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

.picksInterestingChoice img {
	border: 1px solid #C8C8C8;
	border-radius: 5px;
}

.picksInterestingTextIcon {
	float: left;
	width: 82px;
	margin-left: 10px;
	margin-right: 15px;
	text-align: center;
	font-size: 11px;
}

#picksInterestingMore {
	float: right;
	clear: both;
}