.pretty-hover, #hover-demo1 p:hover {
	background: #EEEEEE;
	background-image: url("../../img/pickme.png");
	background-position: 440px 13px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.pick {
	width: 60%;
	min-height: 132px;
	clear: both;
}

.pickMargin {
	margin-top: 15px;
}

.pickText {
	float: left;
	font-size: 18px;
	margin-left: 40px;
	width: 45%;
}

.pickImage {
	float: left;
	margin-left: 10px;
	width: 100px;
	height: 100px;
	border: 1px solid #889;
	background-color: #ffff77;
}
