/* jqModal base Styling courtesy of Brice Burgess <bhb@iceburg.net> */

.popupContent {
	display: none;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	background-color: #000;
	color: #333;
	border: 1px solid black;
	padding: 12px;
	border-radius: 15px;
	moz-border-radius: 15px;
}

.popupTitle {
	color: #ff4444;
	font-size: 32px;
	font-weight: bold;
}

.thickborder {border:10px solid rgb(200,200,200);border:10px solid rgba(0,0,0,.7);}
.whiteOverlay {background-color:#FFF;}
.blackOverlay {background-color:#000;}

.closeBtn {
	text-decoration: none;
	cursor: pointer;
	display: block;
	position: absolute;
	float: right;
	text-align: center;
	color: rgb(173, 173, 173);
	right: 2px;
	top: 10px;
	font-size: 24px;
	height: 32px;
	width: 32px;
	z-index: 5000;
	&:hover {
		color: #585858;
	}
}

/* Fixed posistioning emulation for IE6. Star selector used to hide definition from browsers other than IE6. For valid CSS, use a conditional include instead */
* html .popupContent {
	position: absolute;
}
