#followBtn{clear:both;float:right}#followFans{float:right;clear:both;margin-top:5px;margin-bottom:5px;font-weight:400}#followFanCount{font-size:10px;font-weight:400}#recentImagesArea{float:left;margin-bottom:20px}