#reminderBar {
	background: #FFF;
	height: 25px;
	padding-top: 10px;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #000;
	z-index: 1000;
}

#reminderBarBuffer {
	height: 35px;
	background: #FFF;
	width: 100%;
}

#reminderText {
	float: left;
	width: 95%;
	text-align: center;
	font-weight: bold;
}
#reminderCloseBox {
	float: right;
	width: 15px;
	margin-right: 10px;
}
