@import "../site_config/variables.less";

#topBar {
	background: @headerColor;
	height: 44px;
	left: 0;
	position: absolute;
	min-width: 1007px;
	width: 100%;
	z-index: -1;
	box-shadow: 1px 1px 3px 2px #777;
}

#reminderBar {
	background: #FFF;
	height: 25px;
	padding-top: 10px;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #000;
	z-index: 1000;
}

#reminderBarBuffer {
	height: 35px;
	background: #FFF;
	width: 100%;
}

#reminderText {
	float: left;
	width: 95%;
	text-align: center;
	font-weight: bold;
}

#reminderCloseBox {
	float: right;
	width: 15px;
	margin-right: 10px;
}

#header {
	font-weight:bold;
	overflow: none;
	height: 46px;
	width: 100%;
	margin: 0 auto;
	float: left;
	#logo {
		/*margin-left: 15px;*/
		margin-top: -10px;
		cursor: pointer;
		font-family: 'Pacifico', cursive;
		font-weight: 400;
		font-size: 36px;
		color: @logoColor;
		/*text-shadow: -3px 1px 2px #5C5C5C;*/
		&:hover {
			color: @logoHoverColor;
		}
	}
}

#header-inner {
	float: left;
	width: 100%;
}

#leftHeaderSection {
	float: left;
	width: 40%;
}
#logoSection {
	float: left;
}
#rightHeaderSection {
	float: right;
	width: 50%;
}
#loginButton {
	float: left;
	margin-right: 10px;
	text-align: center;
	margin-left: 3px;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 80px;
}
#joinButton {
	float: right;
	margin-right: 10px;
	text-align: center;
	margin-left: 3px;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 80px;
}

/* LEVEL ONE */
ul.dropdown {
	float: left;
	margin: 0;
	z-index: 20;
	position: relative;
	
	li {
		float: left;
		zoom: 1;
		margin-right: 30px;
		a {
			display: block;
			padding: 4px 8px;
			color: #5B889D;
			text-decoration: none;
		}
		&:last-child a {
			/* Doesn't work in IE */
			border-right: none;
		}
		&.hover, &:hover {
			background: @headerMenuHoverColor;
			color: black;
			position: relative;
		}
		&.hover a {
			color: #ffffff;
		}
		&:hover > ul {
			visibility: visible;
		}
	}
	a {
		&:hover {
			color: #000;
		}
		&:active {
			color: #ffa500;
		}
	}
	
	/* LEVEL TWO */
	ul {
		width: 120px;
		padding: 0;
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		background: @headerColor;
		border-radius: 0px 0px 5px 5px;
		box-shadow: 0px 3px 5px 2px @headerMenuBoxShadowColor;
		li {
			font-weight: normal;
			color: #000;
			float: none;
			margin: 0;
			a {
				/* IE 6 & 7 Needs Inline Block */
				border-right: none;
				width: 100%;
				display: inline-block;
			} 
		}
		
		/* LEVEL THREE */
		ul {
			left: 100%;
			top: 0;
			border-radius: 0px 0px 5px 5px;
		}
	}
}

ul.dropdown#headerButtons {
	float: right;
	margin: 0;
	z-index: 20;
	position: relative;
	li {
		margin-right: 0px;
		&.hover, &:hover {
			background: none;
		}
	}
}

/* Our own Search implementation */
#searchWrapper {
	padding: 10px 0px;
	line-height: 21px;
	float: right;
	min-width: 140px;
}
#searchDiv {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	height: 30px;
}
#searchDiv.dark {
	background-color: #444;
}
#searchDiv.light {
	background-color: #fff;
}
#searchDiv .searchIcon {
	position: absolute;
	height: 19px;
	top: 5px;
	left: 8px;
	width: 18px;
	display: block;
}
#searchDiv.dark #searchBox {
	color: #C9C9C9;
}
#searchBox {
	background: transparent;
	border: 0;
	width: 120px;
	overflow: hidden;
	display: block;
	height: 26px;
	line-height: 26px;
	margin-left: 35px;
	margin-top: 2px;
	padding-top: 2px;
	outline: none;
}
.searchSpriteIcon {
	background: url("../../img/header/search_sprite.png") no-repeat scroll 0 0 transparent;
}
.searchIcon.dark {
	background-position: -18px 0px;
}
.searchIcon.light {
	background-position: 0px 0px;
}

/* google custom search engine */
#googSearch {width: 270px;float: right; margin-top: -4px;}
#___gcse_1 div.cse .gsc-control-cse, #___gcse_1 div.gsc-control-cse {
	float: left;
	font-family: Arial, sans-serif;
	border: none;
	padding: 14px;
	width: 97%;
	min-height: 140px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	.gsc-results .gsc-cursor-box {
		background-color: #ffffff;
		font-size: 30px;
		text-shadow: none;
		.gsc-cursor-current-page {
			background: rgb(238, 238, 238);
		}
	}
}
#___gcse_0 input.gsc-search-button {
	float: left;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: black;
	border: solid 1px #666;
	border-radius: 6px;
	background: -moz-linear-gradient(center top , #AAAAAA, #FFFFFF) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear,left top,left bottom,from(#AAAAAA),to(#FFFFFF));
	background-image: -o-linear-gradient(top, #AAAAAA, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA',endColorstr='#FFFFFF');
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	text-align: center;
	float: right;
	height: auto;
	margin-right: 2px;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 5px;
}
#___gcse_0 input.gsc-search-button:hover {
	color: black;
	border: solid 1px #888;
	background: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#FFFFFF));
	background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA',endColorstr='#FFFFFF');
	-khtml-box-shadow: rgba(0,0,0,0.75) 0px 8px 24px;
	-moz-box-shadow: rgba(0,0,0,0.75) 0px 8px 24px;
	box-shadow: rgba(0, 0, 0, 0.75) 2px 4px 10px;
	border: 1px solid #777;
}
#___gcse_0 .cse form.gsc-search-box, #___gcse_0 form.gsc-search-box {
	padding: 0;
	margin-bottom: 0;
	margin-top: 8px;
}
#gsc-i-id1 {
	border-radius: 15px;
	-moz-border-radius: 15px;
}
td.gsc-clear-button div.gsc-clear-button {
	display: inline-block;
	width: 6px;
	margin-left: -90px;
}
td.gsc-clear-button div.gsc-clear-button:hover {
	background: url("../../img/header/google_search/clear_search_large.png") no-repeat scroll 0 -16px transparent;
}
/* End: google custom search engine */

.headerIcon {
	font-size: 18px;
	float: left;
	margin-left: 20px;
}

.awesomeIcon {
	font-size: 24px;
	cursor: pointer;
	&:hover {
		color: #000000;
	}
}
.flickerColor {
	color: #5B889D;
}
.flame {
	color: #000000;
}

@media screen and (max-width: 1200px) {
	#headerIcons {
		display: none;
	}
	#rightHeaderSection {
		width: 60%;
	}
}

@media screen and (max-width: 1000px) {
	#rightHeaderSection {
		display: none;
	}
	#leftHeaderSection {
		width: 100%;
	}
	#logoSection {
		text-align: center;
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	#logoSection {
		text-align: center;
		width: 100%;
	}
}

/*
@media screen and (max-width: 800px) {
	#headerButtons {
		display: none;
	}
	#rightHeaderSection {
		display: none;
	}
}
*/
