#header {
	/*
	background: #003D4C;
	background-color: #F7F7FF;
	border-bottom:1px solid #EFEFFF;
	*/
	background: #003D4C;
	background: #3B5D9F;
	background: #778;
	/*border-bottom: 3px dotted #556;*/
	color: #FFFFFF;
	font-weight:bold;
	overflow: none;
	float: left;
	width: 100%;
	height: 63px;
}

#header #logo {
	float: left;
}

#header #nav-menu ul li, #header #nav-menu ul li a{
	/*color: #000000;*/
	font-weight:bold;
	float: left;
	list-style: none;
	width: 110px;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 15px #FFAA00;
}

#header #nav-menu ul li:hover, #header #nav-menu ul li a:hover{
	color: #000;
	text-shadow: 0 0 10px #f77;
}

/*Top Navigation*/
#nav-menu {
	float: left;
	font-size: 12px;
}
#nav-menu ul {
	list-style-type: none;
	/*
	text-shadow: #000 1px 1px 08px;
	text-shadow: 0px 0px 25px #FF0000;
	*/
	/*text-transform: lowercase;*/
}

#nav-menu-top {
	margin-left: 45px;
}

#nav-menu-top li {
	display: inline;
	float: center;
	height: 10px;
	width: 82px;
	padding-right: 10px;
}

#nav-menu-bottom li {
	display: inline;
	float: left;
	width: 82px;
	padding-right: 10px;
	margin-top: 13px;
}

/*Top Navigation Link States*/
#nav-menu a:link, #nav-menu a:visited {
	display: block;
	height: 24px;
	text-decoration: none;
	width: 107px;
	padding-left: 2px;
	padding-top: 4px;
	text-align: center;
	color: #FFFFFF;
	background-position: 0;
	margin-bottom: 0;
	margin-top: 0;
}

#nav-menu a:active {
	background: url(../../img/header/button-topnav.png) no-repeat 0 -5px;
	height: 24px;
	width: 102px;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	text-decoration: none;
	text-align: center;
}

#nav-menu a:hover {
	background: url(../../img/header/button-topnav.png) no-repeat 0 -5px;
	height: 24px;
	width: 107px;
	text-decoration: none;
	text-align: center;
	padding-left: 2px;
	padding-top: 4px;
	display: block;
	color: #FFFFFF;
}

#search-bar {
	float: left;
	margin-top: 20px;
}

#search
{
	background: url(../../img/header/search.gif) #ffffff no-repeat left center;
	border: 3px solid #EEEEEE;
	color: #808080;
	font-weight: bold;
	font-family: "Lucida Grande",Verdana,sans-serif;
	font-size: 1em;
	height: 24px;
	width: 150px;
	text-decoration: none;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}

#search:hover
{
	border: #d3d3d3 3px solid;
}
