#topBar {
	/*
	background: #003D4C;
	background-color: #F7F7FF;
	border-bottom:1px solid #EFEFFF;
	*/
	background: #003D4C;
	background: #3B5D9F;
	background: #778;
	/*border-bottom: 3px dotted #556;*/
	height: 63px;
	left: 0;
	position: absolute;
	/*width: 1007px;*/
	min-width: 1007px;
	width: 100%;
	z-index: -1;
	box-shadow: 0 0 120px #FFFFFF;
}

#header {
	color: #FFFFFF;
	font-weight:bold;
	overflow: none;
	/*width: 980px;*/
	width: 1007px;
	height: 63px;
	margin:0 auto;
	/*float: left;*/
}

#header #logo {
	float: left;
}

#headerMenuHolder { padding-left: 100px; padding-top:5px; margin:0 auto; text-align:center;}
.nav, .nav ul {list-style-type:none; margin:0; padding:0;}
.nav a {text-decoration:none;}
.nav {font-family: lucida grande,tahoma,verdana,arial,sans-serif; font-size:13px; margin:0 auto; text-align:left;}

/* style the <b> element so that is does not affect the size of the link */
.nav a b {color:#fff; font-weight:normal; display:block; padding:6px 10px; margin-right:1px;}
.nav a:hover b {color:#000; cursor:pointer; border-left:2px solid #eee;}
.nav .fly .main b {background: transparent url(../../img/header/header-sprite.png) no-repeat 185px -65px;}
.nav .down b {background: transparent url(../../img/header/header-sprite.png) no-repeat 97px -92px;}

/* for the offset left dropdown and flyout */
.nav .nav4 ul b {text-align:right;}
.nav .nav4 ul .main b {background: transparent url(../../img/header/header-sprite.png) no-repeat scroll 4px -230px; text-align:right;}
.nav .nav4 ul a:hover b {border-left:0; border-right:2px solid #eee;}

.nav1 .fly .main b:hover {background: transparent url(../../img/header/header-sprite.png) no-repeat scroll 185px -343px;}
.nav4 .fly .main b:hover {background: transparent url(../../img/header/header-sprite.png) no-repeat scroll 2px -285px;}
.nav .down b:hover {background: transparent url(../../img/header/header-sprite.png) no-repeat 97px -146px;}
.nav .nav4 ul .main b:hover {background: transparent url(../../img/header/header-sprite.png) no-repeat left 95px -202px; text-align:right;}

/* hack for nav3b 'connections' */
.nav3b .down b {background: transparent url(../../img/header/header-sprite.png) no-repeat 105px -93px;}
.nav3b .down b:hover {background: transparent url(../../img/header/header-sprite.png) no-repeat 105px -146px;}

/* HEIGHT */
.nav ul ul {top:-25px;} /* position the top of the flyout sub menus */

/* FOR NAV1 */
.nav1,
.nav1 a {width:110px;}
.nav1 a {margin-right:-99px;}
.nav .nav1 a b,
.nav .nav1 .fly a b {background-color:#778;}

.nav1 img {margin-left: 30px; border: 0; margin-bottom: 5px;}

.nav1 ul li {max-width:100px;}
.nav1 ul a {width:200px; margin-right:-199px;}
.nav1 ul ul {left:200px;}

.nav1a ul a {width:150px; margin-right:-119px;}
.nav1a ul ul {left:120px;}

/* FOR NAV2 */
.nav2,
.nav2 a {width:120px;}
.nav2 a {margin-right:-99px;}
.nav .nav2 a b,
.nav .nav2 .fly a b {background-color:#778;}

.nav2 img {margin-left: 40px; border: 0; margin-bottom: 2px;}

.nav2 ul li {max-width:100px;}
.nav2 ul a {width:200px; margin-right:-199px;}
.nav2 ul ul {left:200px;}

/* FOR NAV3B */
.nav3b,
.nav3b a {width:120px;}
.nav3b a {margin-right:-99px;}
.nav .nav3b a b,
.nav .nav3b .fly a b {background-color:#778;}

/* if using the thumbsup icon */
/*.nav3b img {margin-left: 22px; border: 0; margin-bottom: 5px;}*/
.nav3b img {margin-left: 35px; border: 0; margin-bottom: 5px;}

.nav3b ul li {max-width:100px;}
.nav3b ul a {width:200px; margin-right:-199px;}
.nav3b ul ul {left:200px;}

/* FOR NAV3 */
.nav3,
.nav3 a {width:110px;}
.nav3 a {margin-right:-99px;}
.nav .nav3 a b,
.nav .nav3 .fly a b {background-color:#778;}

.nav3 img {margin-left: 30px; border: 0; margin-bottom: 5px;}

.nav3 ul li {max-width:100px;}
.nav3 ul a {width:160px; margin-right:-119px;}
.nav3 ul ul {left:120px;}

/* FOR NAV4 */
.nav4,
.nav4 a {width:110px;}
.nav4 a {margin-right:-79px;}
.nav .nav4 a b,
.nav .nav4 .fly a b {background-color:#778;}

.nav4 img {margin-left: 30px; border: 0; margin-bottom: 5px;}

.nav4 ul li {max-width:300px;}
.nav4 ul a {width:150px; margin-right:-109px;}
.nav4 ul {left:-40px;} /* position the dropdown right */
.nav4 ul ul {left:auto; right:110px;}  /* position the flyouts left */

.nav4a ul a {width:145px; margin-right:-115px;}
.nav4 .nav4a ul {right:145px;}
.nav4a ul ul {right:80px;}

/* FOR NAV5 */
.nav5 {width:100px;}
.nav5 a {width:100px;}
.nav5 a b {margin-right:0; background-color:#778;}

.nav5 img {margin-left: 30px; border: 0; margin-bottom: 5px;}

.nav li {float:left;} /* fixes several IE related bugs, and allows for clearing */
.nav ul {float:left; position:relative; z-index:20;} /* necessary for float drop and to stack the <ul>s */
.nav ul li {clear:left;} /* must clear the floated list item inside sublist */
.nav a {position:relative; display:block;} /* needs to have a position, to be above the rest */
.nav a.main {float:left; /* necessary for float drop */
    margin-top:9998px;} /* bring the top level links back into view */
.nav .drop,
.nav .fly {margin-top:-10000px;} /* hide the sub links and their containers, opera has low upper limits */
.nav ul {margin-bottom:-5000px;} /* avoid any interaction between the subs, can be any large size */

/* for the text */
.nav .nav1 a b span.menutxt {margin-left: 0px;}
.nav .nav2 a b span.menutxt {margin-left: 18px;}
.nav .nav3 a b span.menutxt {margin-left: 25px;}
.nav .nav3b a b span.menutxt {margin-left: 22px;}
.nav .nav4 a b span.menutxt {margin-left: 16px;}
.nav .nav5 a b span.menutxt {margin-left: 13px;}

/* The bit that does ALL the work to bring the sub menus into view */
.nav a:hover,
.nav a:focus,
.nav a:active {margin-right:0; z-index:10; outline:0;}

.nav a:hover b,
.nav a:focus b,
.nav a:active b {color:#000; cursor:pointer; border:1px solid #667; font-weight: bold;}

/*.nav a:hover b {text-shadow: 0 0 15px #333377;}*/

.nav a:hover b {background-color: #99a;}
.nav .nav1 .fly a:hover b {background-color: #99a;}
.nav .nav4 .fly a:hover b {background-color: #99a;}

.nav .nav1 a b:hover {background-color: #99a;}
.nav .nav2 a b:hover {background-color: #99a;}
.nav .nav3 a b:hover {background-color: #99a;}
.nav .nav3b a b:hover {background-color: #99a;}
.nav .nav4 a b:hover {background-color: #99a;}
.nav .nav5 a b:hover {background-color: #99a;}

/* DARK version */
/*
.nav .nav1 a b.navSelected {color: #fff; background: transparent url(../../img/header/header-sprite.png) no-repeat 95px -93px; background-color: #556; border:1px solid #778; font-weight: bold;}
*/

/* LIGHT version */
.nav a b.navSelected {color: #000; background-color: #99a; border:1px solid #667; font-weight: bold;}

/*
.nav .nav1 a b:active {color: #fff; background-color: #556;}
.nav .nav2 a b:active {color: #fff; background-color: #655;}
.nav .nav3 a b:active {color: #fff; background-color: #334;}
.nav .nav3b a b:active {color: #fff; background-color: #334;}
.nav .nav4 a b:active {color: #fff; background-color: #544;}
.nav .nav5 a b:active {color: #fff; background-color: #caa;}
*/

.nav a:active b, .nav .nav1 .fly a:active b, .nav .nav4 .fly a:active b {background-color: #bbc;}
.nav a:focus b, .nav .nav1 .fly a:focus b, .nav .nav4 .fly a:focus b {background-color: #99a;}

.nav .nav4 ul a:hover b,
.nav .nav4 ul a:focus b,
.nav .nav4 ul a:active b {border-left:0; border:1px solid #667;}

.nav2 ul a:hover,
.nav2 ul a:focus,
.nav2 ul a:active {margin-right:-100px;}

.nav1a ul a:hover,
.nav1a ul a:focus,
.nav1a ul a:active {margin-right:-20px;}

.nav3 ul a:hover,
.nav3 ul a:focus,
.nav3 ul a:active {margin-right:-20px;}

.nav3b ul a:hover,
.nav3b ul a:focus,
.nav3b ul a:active {margin-right:-100px;}

.nav4 ul a:hover,
.nav4 ul a:focus,
.nav4 ul a:active {margin-right:-30px;}

.nav4a ul a:hover,
.nav4a ul a:focus,
.nav4a ul a:active {margin-right:0;}

/* fix for OPERA */
.nav ul:hover,
.nav ul ul:hover {clear:left;} /* to stop intermittent sub link :hover problems */

.loginEmailNav {
	width: 160px;
	margin-left: 10px;
}

.loginPassNav {
	width: 120px;
	margin-left: 10px;
}

.loginButtonNav {
	margin-left: -10px;
	margin-top: 11px;
}

.loginEmailNav  label, .loginPassNav  label, .loginButtonNav  label {
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 0;
	margin-left: 1px;
}

.loginNav  a {
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 0;
	color: #ddd;
}

.loginNav  a:hover {
	text-decoration: underline;
	color: #fff;
}

.loginNav {
	margin-bottom: 0;
	font-size: 12px;
}

.loginEmailNav input {
	width: 160px;
	margin-bottom: 4px;
	margin-left: 0;
}

.loginPassNav input {
	width: 100px;
	margin-bottom: 4px;
	margin-left: 0;
}

.loginButtonNav input {
	margin-bottom: 0;
	margin-left: 0;
}

.jGrowl-message a:hover {
	color: #FFF;
}
