@import "../site_config/variables.less";

#bottomBar {
	background-color: @headerColor;
	height: 112px;
	left: 0;
	bottom:0;
	position: absolute;
	min-width: 1007px;
	width: 100%;
	z-index: -1;
	/*box-shadow: 1px -2px 3px 2px #777;*/
	box-shadow: 0px -1px 4px 0px #777;
}

#footer{
	clear: both;
	margin: 0 auto;
	position: relative;
	min-height: 100px;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-left: 0px;
	padding-right: 0px;
	width: 1007px;
	margin-bottom: 25px;
}

#footer p {
	color: @linkColor;
	font-size: 13px;
	margin-bottom: 6px;
	margin-top: 5px;
}

#footer a {
	text-decoration: none;
}

#footer-inner {
	/*width: 980px;*/
	width: 100%;
	margin-left: 10px;
	font-size: 12px;
	line-height: 1.3em;
	float: left;
}

#footer-inner1 {
	text-align: center;
}
#footer-inner1 ul{
	text-align: center;
}
#footer-inner1 li:first-child {
	border-left: medium none;
}
#footer-inner1 li {
	border-left: 1px solid #CCCCCC;
	display: inline;
	padding: 0 10px;
}
#footer-inner1 a{
	color: #fff;
}

#copyright {
	float: left;
}

#terms {
	font-size: 12px;
	float: left;
}
