#pagearea {
	float: left;
	clear: both;
	width: 100%;
}

#pageDescription {
    background: none repeat scroll 0 0 #CCFDDE;
    border-radius: 6px 6px 6px 6px;
    clear: both;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    width: 95%;
}

.pageEntry {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.defaultLabel {
	font-weight: bold;
	float: left;
	width: 150px;
}

.defaultTextField {
	float: left;
	width: 100%;
}

.pageText {
	float: left;
	margin-top: 5px;
	font-style: italic;
}

.pageMainText {
	float: left;
	width: 72.5%;
}

#imageThumbnail {
	float: left;
	clear: both;
	margin-bottom: 20px;
}

#imageBanner {
	float: left;
	clear: both;
	margin-bottom: 20px;
	width: 100%;
}

.imageAddThumbnail, .imageAddBanner {
	float: left;
	clear: both;
}

#pageButtons {
	float: left;
	clear: both;
	margin-bottom: 10px;
	margin-top: 15px;
	.submitButton {
		float: left;
		margin-left: 150px;
	}
	.cancelButton {
		float: left;
		margin-left: 20px;
		margin-top: 5px;
	}
}

#bottomText {
	float: left;
	margin-left: 150px;
}