#pageFanTitle {
	float: left;
	clear: both;
	width: 100%;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#pageFanTitleImage {
	float: left;
	color: #a4b1cc;
	font-size: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

#pageFanTitleText {
	margin-top: 15px;
	text-align: left;
}

#pageFanArea {
	clear: both;
	float: left;
	width: 100%;
	padding-left: 8px;
}

.pageFanEntry {
	float: left;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.pageFanEntry:hover{
	background: #EEEEF3;
}

.pageFanEntryPicture {
	float: left;
	clear: both;
	border: 1px solid #778;
	height: 75px;
	width: 75px;
	cursor: pointer;	
}

.pageFanFollow {
	float: left;
	clear: both;
	margin-left: 5px;
	width: 60px;
}

.pageFanName {
	float: left;
	clear: both;
	width: 100%;
}

.pageFanName a, #pageFanMore a {
    text-decoration: none;
}

#pageFanMore {
	float: right;
	clear: both;
}
