@import "../site_config/variables.less";

#showPagesTitle {
	float: left;
	clear: both;
	width: 100%;
	text-align: left;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#showPagesTitle i.icon {
	font-size: 30px;
	margin-left: 10px;
	margin-right: 10px;
	color: @headerColor;
}

.showPagesEntry {
	float: left;
	clear: both;
}

.showPagesThumbnail {
	float: left;
	margin: 10px;
	height: 60px;
	width: 60px;
}

.showPagesThumbnail img {
	height: 60px;
	width: 60px;
	cursor: pointer;
}

.showPagesText {
	float: left;
	text-align: left;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.showPagesText a {
	text-decoration: none;
	font-weight: bold;
}

.showPagesbtn {
	float: left;
	width: 50px;
	margin-right: 130px;
}

.showPagesFollowers {
	float: left;
	width: 200px;
}

.successAddPage {
	background: #EEEEF4;
}
