#spotlight {
	margin-bottom: 20px;
	float: left;
}

#showSpotlight {
	padding-left: 5px;
	padding-right: 5px;
}

#showSpotlightTitle {
	float: left;
	clear: both;
	width: 100%;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#showSpotlightTitleImage {
	float: left;
	width: 55px;
	height: 50px;
	background: url(../../img/header/reel_small.png) no-repeat;
}

#showSpotlightTitleText {
	margin-top: 15px;
}

#showSpotlightArea {
	float: left;
	clear: both;
	width: 100%;
}

.showSpotlightEntry {
	float: left;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	width: 118px;
	height: 150px;
}

.showSpotlightEntry:hover {
	/*background: #EEEEF3;*/
}

.showSpotlightEntryImage {
	float: left;
	clear: both;
	width: 100px;
	height: 100px;
	margin-bottom: 7px;
}

.showSpotlightEntryImage a img{
	/*border: 1px solid #000;*/
}

.showSpotlightEntryText {
	float: left;
	clear: both;
	text-align: center;
	font-weight: bold;
	width: 75%;
}

.showSpotlightEntryFollow {
	float: left;
	text-align: center;
	margin-top: -120px;
}

.circular {
	border-radius: 50px;
	-moz-border-radius: 50px;
}
