#topCelebs {
	margin-bottom: 20px;
	float: left;
}

#showTopCelebs {
	padding-left: 5px;
	padding-right: 5px;
}

#showTopCelebsTitle {
	float: left;
	clear: both;
	width: 100%;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#showTopCelebsTitleImage {
	float: left;
	width: 55px;
	height: 40px;
	background: url(../../img/header/reel_small.png) no-repeat;
	background: url("../../img/header/smiling_star_small.png") no-repeat scroll 2px -40px;
}

#showTopCelebsTitleText {
	margin-top: 15px;
}

#showTopCelebsArea {
	float: left;
	clear: both;
	width: 100%;
}

.showTopCelebsEntry {
	float: left;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	width: 118px;
	height: 150px;
}

.showTopCelebsEntry:hover {
	/*background: #EEEEF3;*/
}

.showTopCelebsEntryImage {
	float: left;
	clear: both;
	width: 100px;
	height: 100px;
	margin-bottom: 7px;
}

.showTopCelebsEntryImage a img{
	/*border: 1px solid #000;*/
}

.showTopCelebsEntryText {
	float: left;
	clear: both;
	text-align: center;
	font-weight: bold;
	width: 75%;
}

.showTopCelebsEntryFollow {
	float: left;
	text-align: center;
	margin-top: -120px;
}

.circular {
	border-radius: 50px;
	-moz-border-radius: 50px;
}
