#information {
	clear: both;
	background: #CCFDDE;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 95%;
	font-size: 13px;
	border-radius: 6px;
	line-height: 20px;
}

.sectionTitle {
	float: left;
	clear: both;
	font-weight: bold;
	color: #777788;
}

.qAndATitle {
	width: 95px;
	padding-left: 5px;
}

#AnswersDescription {
	float: left;
	clear: both;
}

#CorrectTitle {
	float: right;
	clear: both;
	font-weight: bold;
	margin-right: 15px;
}

.textbox {
	float: left;
	margin-bottom: 20px;
}

#myQuizChoices {
	float: left;
	width: 510px;
	margin-bottom: 20px;
}

.quizChoice {
	float: left;
	width: 540px;
}

.quizChoice img {
	float: left;
}

.quizChoice div.quizChoiceDetail {
	float: left;
	margin-left: 40px;
}

.quizChoiceDescLabel {
	font-weight: bold;
	clear: both;
}

.quizChoiceDescInput {
	clear: both;
}

.quizChoiceAddImage {
	clear: both;
	font-weight: bold;
}

.quizAddImage {
	clear: both;
	float: left;
	font-weight: bold;
	margin-left: 120px;
	margin-top: 10px;
}

#quizQuestionImg {
	clear: both;
	float: left;
	margin-left: 155px;
	margin-top: 15px;
}

.quizCorrect {
	float: right;
	margin-top: 30px;
}

.submitButton {
	float: left;
	margin-left: 160px;
}

.cancelButton {
	float: left;
	margin-left: 50px;
}

#quizButtons {
	float: left;
	clear: both;
	margin-bottom: 10px;
	margin-top: 15px;
}

#addQuizChoiceBtn {
	clear: both;
	margin-top: 10px;
	font-weight: bold;
}

#bottomText {
	float: left;
	margin-left: 90px;
}

.defaultText {
	width: 320px;
}

.defaultTextActive {
	color: #a1a1a1;
	font-style: italic;
}
