#quizzesarea {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
}

#addQuestion {
	float: right;
	margin-top: 8px;
}

.myQuiz {
	clear: both;
	float: left;
	padding: 10px;
	width: 96%;
	cursor: pointer;
}

.myQuiz:hover{
	background: #EEEEF3;
}

.myQuizText {
	float: left;
	padding-top: 20px;
	width: 80%;
}

.myQuizText a {
	font-weight: bold;
}

.myQuizResult {
	float: left;
	width: 100%;
	font-size: 11px;
	margin-top: 5px;
	color: #999;
}

.myQuizRate {
	float: right;
	width: 60px;
	height: 50px;
	margin-top: 15px;
}

.myQuizPercentage {
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}

.myQuizDifficulty {
	float: left;
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	width: 100%;
}

.Easy {
	background-color: #BBFFBB;
}

.Medium {
	background-color: #FFFFBB;
}

.Hard {
	background-color: #FFBBBB;
}

.NotRated {
	background-color: #c0c0c0;
}

.myQuizPictures {
	float: right;
}

.myQuizPictures img {
	float: left;
	margin-right: 10px;
	border: 2px solid #778;
}

.quizChoiceDefault {
	float: left;
	border: 2px solid #778;
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.myQuizImg1 {
	float: left;
	clear: both;
	width: 82px;
	text-align: center;
}

.myQuizImg2 {
	float: left;
	width: 82px;
	margin-left: 10px;
	text-align: center;
}
