#moreQuzzes {
	float: left;
	width: 100%;
}

#showMoreQuizzes {
	float: left;
	width: 100%;
}

#showMoreQuizzesTitle {
	float: left;
	clear: both;
	width: 100%;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#showMoreQuizzesImage {
	float: left;
	width: 48px;
	height: 40px;
	background: url(../../img/header/checkcross_small.png) no-repeat 7px -33px;
}

#showMoreQuizzesText {
	margin-top: 15px;
}

.showMoreQuizzesEntry {
	float: left;
	clear: both;
	font-weight: bold;
	width: 95%;
	padding: 10px;
}

.showMoreQuizzesEntryHover {
	cursor: pointer;
}

.showMoreQuizzesBullet {
	float: left;
	font-size: 18px;
}

.showMoreQuizzesHyperlink {
	float: left;
	margin-left: 15px;
	margin-top: 3px;
	width: 90%;

}

.showMoreQuizzesHyperlink  a, #showMoreQuizzesMore a{
	text-decoration: none;
}

#showMoreQuizzesMore {
	float: right;
	clear: both;
	margin-top: 15px;
	margin-right: 15px;
}