#showFeatureQuiz {
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}

#showFeatureQuizTitle {
	float: left;
	clear: both;
	width: 100%;
	text-align: left;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#showFeatureQuizImage {
	float: left;
	width: 48px;
	height: 40px;
	background: url('../../img/header/checkcross_small.png') no-repeat 7px -33px;
}

#showFeatureQuizText {
	margin-top: 15px;
}

#showFeatureQuizEntry {
	float: left;
	clear: both;
	width: 100%;
}

#showFeatureQuizPage {
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 10px;
}

#showFeatureQuizQuestion {
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

#showFeatureQuizQuestion a, #showFeatureQuizPage a {
	text-decoration: none;
}

#showFeatureQuizQuestionImage {
	float: left;
	clear: both;
	margin-left: 40px;
	text-align: center;
}

#showFeatureQuizQuestionImage img {
	cursor: pointer;
}

#showFeatureQuizFormID {
	float: left;
	width: 100%;
}

#showFeatureQuizOptions {
	float: left;
	width: 100%;
	margin-bottom: 5px;
	margin-top: 10px;
}

.showFeatureQuizChoice {
	clear: both;
	float: left;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 5px;
	width: 97%;
}

.showFeatureQuizChoice input {
	float: left;
	width: 35px;
	background: none repeat scroll 0 0 #888899;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
}

.showFeatureQuizChoiceText {
	float: left;
	margin-top: 5px;
	padding-left: 15px;
	max-width: 225px;
}

.pretty-hover, #hover-demo1 p:hover {
	background: #EEEEEE;
	cursor: pointer;
}
