#correctarea {
	float: left;
	clear: both;
	width: 100%;
}

#correctBackground {
	background: #80c080;
	padding-left:   2px;
	padding-right:  2px;
	padding-top:    5px;
	padding-bottom: 5px;
}

.correct {
	background: #F1FFFA;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

#wrongBackground {
	background: #F03434;
	padding-left:   2px;
	padding-right:  2px;
	padding-top:    5px;
	padding-bottom: 5px;
}

.wrong {
	background: #FAE4E4;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}