#quizStat {
	float: left;
	width: 100%;
}

#showQuizStat {
	float: left;
	width: 100%;
}

#showQuizStatTitle {
	float: left;
	clear: both;
	width: 100%;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#showQuizStatImage {
	float: left;
	width: 48px;
	height: 40px;
	background: url(../../img/header/checkcross_small.png) no-repeat 7px -33px;
}

#showQuizStatTitleText {
	margin-top: 15px;
}

#showCurrentQuiz, #showGlobalQuiz {
	float: left;
	clear: both;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	width: 90%;
}

.showQuizLine {
	float: left;
	clear: both;
	width: 100%;
}

.showQuizLineTitle {
	font-weight: bold;
}

.showQuizStatText {
	float: left;
}

.showQuizStatVal {
	float: right;
}

.showMoreQuizzesEntry {
	float: left;
	clear: both;
	font-weight: bold;
	width: 95%;
	padding: 10px;
}

.showMoreQuizzesEntryHover {
	cursor: pointer;
}

.showMoreQuizzesBullet {
	float: left;
	font-size: 18px;
}

.showMoreQuizzesHyperlink {
	float: left;
	margin-left: 12px;
	margin-top: 3px;
	width: 90%;
}

.showMoreQuizzesHyperlink  a, #showMoreQuizzesMore a{
	text-decoration: none;
}

#showMoreQuizzesMore {
	float: right;
	clear: both;
}