#correctarea {
	float: left;
	clear: both;
	width: 100%;
}

#reportarea {
	float: right;
	font-size: 12px;
	font-weight: bold;
}

#questionarea {
	float: left;
	clear: both;
	width: 99%;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#questiontext {
	float: left;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0px;
}

#questionimage {
	float: left;
	clear: both;
	margin-left: 155px;
	margin-bottom: 10px;
}

#addQuestion {
	float: right;
	margin-top: 10px;
}

#userAnswer {
	margin-top: 20px;
	float: left;
	font-weight: bold;
	width: 50%;
}

.report {
	float: right;
	width: 30%;
	text-align: right;
}

#choicesarea {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.quiz {
	width: 302px;
	min-height: 160px;
	border-width: 0;
	border-style: none;
	margin-top: 0;
	vertical-align: baseline;
}

.correctBackground {
	background: #ddf0dd;
}

.wrongBackground {
	background: #f0dddd;
}

.noneBackground {
	background: #ffffff;
}

.userChosen {
	background-color: #000000;
}

#choice0 {
	float: left;
	border-right-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#choice1 {
	float: right;
	border-left-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#choice2 {
	float: left;
	border-top-style: solid;
	border-right-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#choice3 {
	float: right;
	border-top-style: solid;
	border-left-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

.quizText {
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
	font-weight: bold;
}

.quizChoiceBtn {
	margin-right: 5px;
}

.quizMargin {
	margin-top: 15px;
}

.quizImage {
	float: left;
	margin-left: 80px;
	width: 100px;
	height: 100px;
	border: 1px solid #889;
	background-color: #EEEEF0;
	text-align: center;
}

.quizImageDefault {
	float: left;
	margin-left: 10px;
	width: 100px;
	height: 100px;
	text-align: center;
}

#correctText {
	float: left;
	clear: both;
	font-style: italic;
	margin-left: 45px;
	font-size: 11px;
	margin-top: 7px;
	padding-bottom: 5px;
}

#userChosenText {
	float: left;
	clear: both;
	font-style: italic;
	margin-left: 50px;
	font-size: 11px;
	margin-top: 7px;
	padding-bottom: 5px;
}

.otherText {
	float: left;
	clear: both;
	font-style: italic;
	margin-left: 88px;
	font-size: 11px;
	margin-top: 7px;
	padding-bottom: 5px;
}

#trivialarea {
	float: left;
	clear: both;
	width: 100%;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
	margin-bottom: 20px;
}

#author {
	float: left;
	font-size: 11px;
	margin-left: 5px;
}

.links {
	float: right;
	margin-right: 5px;
}

#bottomarea {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}
