#questionarea {
	float: left;
	clear: both;
	width: 100%;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#questiontext {
	float: left;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0px;
}

#questionimage {
	margin-bottom: 10px;
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

#addQuestion {
	float: right;
	margin-top: 10px;
}

#choose1 {
	float: left;
	font-weight: bold;
	width: 50%;
}

.report {
	float: right;
	width: 30%;
	text-align: right;
}

#choicesarea {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.quiz {
	width: 48%;
	min-height: 150px;
	background: none;
	border-width: 0;
	border-style: none;
	margin-top: 0;
	vertical-align: baseline;
}

#choice0 {
	float: left;
	border-right-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#choice1 {
	float: right;
	border-left-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#choice2 {
	float: left;
	border-top-style: solid;
	border-right-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#choice3 {
	float: right;
	border-top-style: solid;
	border-left-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

.quizText {
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
}

.quizText input {
	float: left;
	width: 35px;
	background: none repeat scroll 0 0 #889;
	border-radius: 3px 3px 3px 3px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.showQuizChoiceText {
	float: left;
	margin-top: 5px;
	padding-left: 15px;
}

.quizMargin {
	margin-top: 15px;
}

.quizImage {
	float: left;
	margin-left: 80px;
	width: 100px;
	height: 100px;
	border: 1px solid #889;
	background-color: #EEEEF0;
	text-align: center;
}

.quizImageDefault {
	float: left;
	margin-left: 10px;
	width: 100px;
	height: 100px;
	text-align: center;
}

#trivialarea {
	float: left;
	clear: both;
	width: 100%;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
	margin-bottom: 20px;
}

#author {
	float: left;
	font-size: 11px;
	margin-left: 10px;
}

.links {
	float: right;
}

#bottomarea {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.pretty-hover, #hover-demo1 p:hover {
	/*background: #EEEEEE;*/
	background: #587CB5;
	cursor: pointer;
	color: #fff;
}
