@textColor: #2A2A2A;
@headerColor: #3F6D92;
@headerColor: #3F928F;
@headerColor: #A4B1CC;
@headerColor: #FFFFFF;
@headerMenuHoverColor: @headerColor - #111;
@headerMenuBoxShadowColor: @headerColor - #3B3162;

@linkColor: #70A79F;
@linkColor: #3477B6;
@linkHoverColorOffset: #555555;
@linkColorDarkBackground: @headerColor + #888888;
@linkColorHoverDarkBackground: #ffffff;

@textSelectColor: @headerColor + #333333;
@textSelectColor: #538BFF;

@bodyColor: #E9E9E9;
@bodyColor: #C7DDD4;
@bodyColor: #EAF1ED;
@bodyColor: #E5EDF1;
@bodyColor: @headerColor + #A6805F;
@bodyColor: @headerColor + #AB5F5E;
@bodyColor: @headerColor + #403924;
@bodyColor: #E3E3E3;

@logoColor: @linkColorDarkBackground;
@logoColor: #456CBC;
@logoHoverColor: @logoColor - #222;
@imageBackgroundColor: #333;

@button1Color: #7CC4AD; /* green */
@button1Color: #7CA0C4; /* blue */
@button1Color: @logoColor;
@button2Color: #E74111; /* red/orange */
@button3Color: #ECECEC; /* grey */
@buttonHoverColorOffset: #111;
@buttonActiveColorOffset: #444;

@tagColor: #0eaea9;
@tagColor: @logoColor;
