@import "../../site_config/variables.less";

#login-container {
	font: 13px/16px "Lucida Grande", Arial, Sans-serif;
	position: relative;
	float: right;
	margin: 2px 0px 0px 0px;
	a {
		&:link, &:visited {
			text-decoration: none;
		}
		&.signin {
			position:relative;
			margin-left:3px;
			&.menu-open span {
				background-image:url("../../../img/login_widget/toggle_up_white.png");
				color:#eee;
			}
			span {
				background-image:url("../../../img/login_widget/toggle_down_light.png");
				background-repeat:no-repeat;
				background-position:100% 50%;
				padding:4px 16px 6px 0;
				&:hover {
					background-image:url("../../../img/login_widget/toggle_down_white.png");
					background-repeat:no-repeat;
				}
			}
		}
	}
}

#topnav {
	padding: 10px 0px 12px;
	font-size: 11px;
	line-height: 23px;
	text-align: right;
	a.signin {
		background: @headerMenuHoverColor;
		padding:4px 6px 6px;
		text-decoration:none;
		font-weight:bold;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		*background:transparent url("../../../img/login_widget/signin-nav-bg-ie.png") no-repeat 0 0;
		*padding:4px 12px 6px;
		&:hover {
			color: #ffffff;
			*background:transparent url("../../../img/login_widget/signin-nav-bg-hover-ie.png") no-repeat 0 0;
			*padding:4px 12px 6px;
		}
		&:focus, &:active {
			background: @headerMenuHoverColor;
			color: #ffffff;
		}
	}
	a.menu-open {
		/*background: #ddeef6!important;*/
		color: #666!important;
		outline: none;
	}
	a.signin, a.signin:hover {
		*background-position: 0 3px!important;
	}
}

#signin_menu {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	display:none;
	background-color: @headerMenuHoverColor;
	position:absolute;
	width:162px;
	z-index:100;
	border:1px transparent;
	text-align:left;
	padding:12px;
	top: 26px; 
	right: 0px; 
	margin-top:5px;
	margin-right: 0px;
	*margin-right: -1px;
	color:#fff;
	font-size: 12px;
	box-shadow: -1px 3px 5px 1px @headerMenuBoxShadowColor;
	label {
		font-weight: normal;
	}
	a {
		clear: both;
		float: left;
	}
	p {
		margin: 0;
	}
	p.remember {
		padding: 10px 0;
	}
	p.forgot, p.complete {
		clear: both;
		margin: 5px 0;
	}
	input[type=text], input[type=password] {
		display: block;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border: 1px solid #ACE;
		font-size: 13px;
		margin: 0 0 5px;
		padding: 5px;
		width: 203px;
	}
}

#signedin_menu {
	.thumbnail {
		float: left;
	}
	.menu_links {
		float: right;
	}
}

#signin_submit {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#889;
	border:1px solid @headerMenuHoverColor;
	color:#fff;
	text-shadow:0 -1px 0 #000;
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#signin_submit::-moz-focus-inner {
	padding:0;
	border:0;
}
#signin_submit:hover, #signin_submit:focus {
	background:#99a;
	cursor:pointer;
}
