#whatIs {
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	min-height: 60px;
	width: 96%;
}

#whatIsTitle {
	float: left;
	clear: both;
	width: 100%;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#whatIsTitleText {
	float: left;
	margin-top: 15px;
}

#whatIsImage {
	float: left;
	width: 42px;
	height: 32px;
	background: url(../../img/header/star_small.png) no-repeat 0px 0px;
}

#whatIsDescription {
	float: left;
	margin-top: 5px;
}

#joinBtn {
	margin-bottom: 10px;
	margin-top: 10px;
}
