/**** Custom Styles ********/
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	margin-bottom: 10px;
	text-align: left;
	/*
	padding: 20px 0;
	*/
}

@media all and (max-width: 768px) {
	.onerow {
		/*
		margin: 0 0 10px;
		*/
	}
}
