#wallPostDiv {
	margin-bottom: 35px;
	width: 99%;
	float: left;
	font-family: Arial;
}

#wallPostTextArea {
	width: 100%;
	font-size: 12px;
}

.wallPostText {
	width: 100%;
	line-height: 1.4;
	min-height: 20px;
	margin: 5px 0 5px 0;
	font-size: 12px;
}

#charsLeft {
	font-size: 20px;
	line-height: 50px;
	display: block;
	float: right;
}

#submitPost {
	margin-top: 12px;
	margin-left: 20px;
	margin-right: -5px;
	float: right;
}

#wallPosts {
	float: left;
	width: 100%;
	font-family: Arial;
}

.wallPostBox {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.wallPost {
	float: left;
	width: 98%;
	margin-bottom: 5px;
	border: 1px solid #DDE;
	padding: 5px;
	background: #F7F7F9;
	border-radius: 10px;
}

.avatar {
	float: left;
	margin-left: 10px;
}

.avatar-wrap {
	float: left;
	width: 55px;
	height: 55px;
	border-radius: 55px;
	position: relative;
	border: 8px solid #AAA;
	margin: 5px 20px 0px 5px;
}

.roundedAvatar {
	border-radius: 55px;
}

.wallPostUser {
	float: left;
	font-weight: bold;
	color: grey;
}

.wallPostContent {
	float: left;
	width: 80%;
}

.wallPostDate {
	font-size: 11px;
	color: #7A7A7A;
	margin-top: 5px;
}

.wallPostDeleteBtn {
	background: url('../../img/wall/close_button_small.png');
	width: 15px;
	height: 15px;
	float: right;
	margin-right: -15px;
	cursor: pointer;
	display: none;
}

.wallPostLike {
	float: left;
}

.wallPostLikeBtn {
	background: url('../../img/wall/thumb.png') no-repeat 0px 0px;
	width: 18px;
	height: 18px;
	float: left;
	cursor: pointer;
	margin-top: 5px;
}

.wallPostLikeBtn:hover {
	background: url('../../img/wall/thumb.png') no-repeat 0px -28px;
}

.wallPostLikeBtnLiked {
	background: url('../../img/wall/thumb.png') no-repeat 0px -28px;
}

.wallPostLikeCount {
	float: left;
	color: #87A2B1;
	font-size: 12px;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 8px;
	cursor: default;
}

.deleteConfirmBox {
	padding: 6px 6px 6px 6px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
	margin: 2px -15px 0 0;
	background-color: white;
	color: #999;
	width: 80%;
	float: right;
}

.wallPostDeleteConfirmYes {
	margin-left: 10px;
	margin-right: 12px;
}

.wallPostDeleteConfirmNo {
	margin-left: 15px;
	margin-right: 10px;
}

.wallPostDeleteConfirmYes, .wallPostDeleteConfirmNo {
	cursor: pointer;
	font-weight: bold;
	color: #000;
}
