body
{
	margin: 0;
	padding: 0;
	background: #eee;
}

.jcropper-holder { border: 1px black solid; }

form
{
	margin: 1.5em 0;
}

form label
{
	margin-right: 1em;
	font-weight: bold;
	color: #990000;
}

#imageCropper {
	float: left;
	text-align: left;
	padding: 1em 2em 2em;
}

#previewDiv {
	overflow: hidden;
}

.leftPane {
	float: left;
	overflow: hidden;
}

.rightPane {
	float: left;
}
