/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* ==========================================================================
   HTML5 Boilerplate styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
	font-size:16px;
	background-color:#ffffff;
	color:#000;
	
}
blockquote{padding-left: 20px;border-left: 1px solid #ccc;font-style: italic;}
a {color:#217DD1;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main-page {width:100%; word-wrap:break-word; }
.main-page b {font-weight:700;}
.header-bg { width:100%; padding:37px 0 34px; background-color:#fffefe; text-align:center;}

.banner {width:100%; background-color:#1a7abc; padding:54px 0 66px; border-top:1px solid #94c1e0; display:inline-block; position:relative; float:left;}
.banner:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 122, 187, -10); border-top-color: #1A7ABC; border-width: 18px 36px; margin-left: -40px; z-index:9; }
.banner-center {width:815px; margin:0 auto;text-align: center;}
.banner-left, .banner-right{vertical-align: top;}
.banner-left { margin:0px 40px 0px 0; text-align:center; display:inline-block;}
.banner-left img {display:inline-block;  margin:4px 0 0 0; width:100%;}
.banner-right {width:448px; display:inline-block;}
.banner-right .title {text-align:center; width:100%; font-family: 'Montserrat', sans-serif; font-weight:400; text-transform:uppercase; font-size:34px; line-height:38px; color:#FFFFFE;}
.banner-right .text {margin:6px 0 0 0; padding:0px; font-size:18px; font-family: 'Open Sans', sans-serif; line-height:24px; color:#feffff; text-align:center;}
.banner-right .text a{color: #feffff;}
.button {width:100%; margin:26px 0 4px 0px;display:inline-block;position: relative;z-index: 99;}
.button a{ display:block;font-size:28px; font-weight:700; text-transform:uppercase; color:#fffeff; background-color:#faab1f; border-bottom:3px solid #e59520; border-radius:4px; padding:7px 10px 7px; text-align:center; text-decoration:none; text-shadow: 0px 2px 1px #A65600;}
.button a:hover {background-color:#ffcc01; border-bottom:3px solid #faab1f;}
.banner-right .button a {width:93%;}
.banner-right .button a p {margin:0px; padding:0px;}
.banner-right .lock {width:100%; text-align:center;margin-top:15px;}
.banner-right .lock img {margin-right:8px;}
.banner-right .lock .lock-text {font-size:15px; font-weight:400; color:#8CC1E7; margin:0px; padding:0px; display:inline; vertical-align:middle;}

.customers-main {background-color:#eff0f1; display:inline-block; width:100%; padding:65px 0 58px; position:relative;}
.customers-main:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; z-index:20;pointer-events: none; border-color: rgba(238, 240, 241, -1); border-top-color: #eff0f1; border-width: 18px 36px; margin-left: -40px; }
.customers-center {width:1003px; margin:0 auto;text-align: center;}
.customers-title {text-align:center; width:100%; color:#1A78BC; font-size:30px; font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:400; line-height:30px;}
.customers-content {margin:32px 0 0 22px; width:97.8%; display:inline-block; text-align:center;}
.customers-text {width:220px; display:inherit; vertical-align:top; margin-right:24px; position:relative;color:#464646;}
.customers-text a{color:#464646;}
.customers-text p { margin:0 9% 0 0; text-align:center; padding:0px; font-size:16px; font-family: 'Open Sans', sans-serif; color:#464646; line-height:26px; float:left; width:180px;}
.customers-text img {    float: left; position: absolute; right: -8px; top: -15px;max-width:28px;}
.customers-content .last {margin-right:0px; }
.customers-content .last p {margin:0 0 0 0;}

.body-content {background-color:#FEFFFE; color:#333333;text-align:left;width:100%; display:inline-block; padding:56px 0 42px;position: relative;text-align: center;}
.body-content-center {width:978px; margin:0 auto;text-align: left;}
.body-content-center a{color:#333333;}
.body-content-center h1, .body-content-center h2, .body-content-center h3 {text-align: left;color:#333333;} 
.body-content .goodies-title {text-align:center; text-transform:uppercase; font-size:30px; font-family: 'Montserrat', sans-serif; color:#1A77BC;}
.body-content-center p {margin:9px 0 0 0; font-size:16px; color:#333333; line-height:26px; width:94%;} 
.body-content-center p b {font-weight:700; color:#1A7AC0;}
.body-content .content-left {margin:10px 20px 0 0; width:645px; display:inline-block; text-align: left;vertical-align: top;}
.body-content .content-left ul{ display: inline-block; margin:46px 0 0; padding: 15px 0 15px 20px; list-style:disc; }
.body-content .content-left ul li {width: 100%;}
.body-content .content-left ul li div { margin-bottom:18px; display:inline-block; }
.body-content .content-left ul li .number { background-color: #1978ba; border-radius: 100px; color: #fbf6f6; float: left; font-size: 25px; font-family: 'Montserrat', sans-serif; font-weight: 400; margin: 0px 6% 0 0;  padding: 3px; text-align: center; width: 36px; }
.body-content .content-left ul li .number-right { float: left; width: 87%; margin-bottom:0px; }
.body-content .content-left ul li p b { color:#1A7AC0; display: inline-block; float: right; font-weight: 700; margin-bottom: 0; text-transform: uppercase; width: 100%;  font-family: 'Montserrat', sans-serif; font-size:18px; margin-bottom:3px; }
.body-content .content-left ul li .number-right p { float: right; width: 100%; color:#333333; margin:0px;}
.body-content .content-left ol {counter-reset:li; margin-left:0;padding-left:0;
}
.body-content .content-left ol li {position:relative; margin:0 0 6px 2em;padding:4px 35px;list-style:none;line-height: 30px;color:#333333;}
.body-content .content-left ol li:before{
	content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-1.4em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin-right:8px;
    padding:4px;
    background-color: #1978ba; 
    border-radius: 100px; color: #fbf6f6; 
    font-size: 25px; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    padding: 3px; 
    text-align: center; 
    width: 40px;
}
.body-content .content-left ol li b{color:#1A7AC0;font-weight: 700;}
.body-content:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; z-index:20;pointer-events: none; border-color: rgba(254, 255, 253, -1); border-top-color: #FEFFFE; border-width: 18px 36px; margin-left: -40px;}


.content-right {display:inline-block; width:305px; text-align:center; margin-top:45px;vertical-align: top;}
.content-right img {width:73%;}
.content-right .catch {margin:26px 0 2px; padding:0px; width:100%; text-align:center; font-size:22px; color:#23b777;  font-family: 'Montserrat', sans-serif; font-weight:700; text-transform:uppercase;}
.content-right .right-text {margin:0px auto; padding:0px; text-align:center; color:#464647; line-height:26px; width:82%;}
.content-right .right-text b {font-weight:700; color:#FAAB20; }

.enjoy-bundle {width:100%; background-color:#EFF1F1; text-align:center; position:relative; padding:60px 0 66px;}
.enjoy-bundle:after {top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; z-index: 100;pointer-events: none; border-color: rgba(239, 240, 240, 0); border-top-color: #EFF1F1; border-width: 18px 36px; margin-left: -40px;}
.enjoy-title {font-weight:700; font-family: 'Montserrat', sans-serif; font-size:20px; color:#1978b9; margin:0px auto 5px; padding:0px; text-transform:uppercase; width:50%;}
.enjoy-text {margin:0px auto; padding:0px; line-height:26px; color:#484747; width:50%;}
.enjoy-text a{color:#484747;}
.enjoy-text b {color:#1d7bbc; font-weight:700;}

.bottom-button {background-color:#1b7bbd;text-align:center; padding:90px 0 0;margin:0;margin-bottom: -5px;z-index:99;min-height:199px; overflow:hidden;border-top:1px solid #4895c9;}
.bottom-button a{margin:0 auto;max-width:448px;}
/*.bottom-button .button { margin:0 0 15px 5px; display:inline-block; position:relative; z-index:99;}
.bottom-button .button a p {margin:0px; padding:0px;}*/
.bottom-button .lock {width:95%; text-align:center; position:relative; z-index:99; margin:15px auto;}
.bottom-button .lock img {margin-right:8px; width:auto; bottom:0px;}
.bottom-button .lock .lock-text {font-size:15px; font-weight:400; color:#8CC1E7; margin:0px; padding:0px; display:inline; vertical-align:middle;}
.bottom-images {z-index:0;width:100%;}
/*.bottom-button .bottom-images img {width:100%; max-height: 329px;position:absolute; bottom:-60px; left:0px; }*/
.bottom-button .bottom-images img {
  /* Set rules to fill background */
  min-height: 320px;
	
  /* Set up proportionate scaling */
  width: 100%;
	
  /* Set up positioning */
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer {width:100%; background-color:#0e588a; padding:40px 0 50px;;}
.footer-center {width:674px; margin:0 auto; text-align:center;}
.footer-center .name {margin:0 0 15px; padding:20px 0px 10px; color:#1e90de;}
.footer-center .name a{color:#1e90de;}
.footer-center .name b {font-weight:700;}
.footer-center .copyright-text {color:#1b8edc; font-size:13px; border-top:1px solid #1879bc; margin:0px; padding-top:20px;}
.footer-center .copyright-text a{color:#1b8edc;}

@media only screen and (max-width: 1020px) {
	.customers-center {width:100%;}
	.customers-text {margin-right:0%; }
	.customers-text p {margin-right:2%;}
	.body-content-center {width:98%;}
	.customers-content .last { width: 20%; }
	.customers-content {width:96%; margin:32px 2% 0;}
	.body-content .content-left {width:63%; margin-right:2%;}
	.body-content .content-left ul li .number {margin-right:3.5%;}
	.enjoy-text {width:96%;}
	.enjoy-bundle {padding:5% 0;}
	.enjoy-title {width:96%;}
	.customers-text img { right: 2%;}
}
@media only screen and (max-width: 915px){
	.customers-center {text-align:center;}
	.customers-content {width:94%; margin:30px auto 0; text-align:center; display:inline-block;}
	.customers-text {margin:2% 6% 0% 0; padding-bottom:15px; border-bottom:1px solid #d7d7d7; min-height: 50px; width:36%; display:inherit; }
	.customers-text:nth-child(2) {margin-right:0;}
	.customers-text:nth-child(4) {margin-right:0; width:36%;}
	.customers-text p {width:100%; margin:0; line-height:20px;}
	.customers-content .last p {width:100%; margin:0;}
	.customers-text img {display:none;}
	.body-content .content-left {width:61%;}
	.content-right {width:30%;}
	.content-right .catch {margin-top:16px;}
}
@media only screen and (max-width: 840px){
	.banner-center {width:98%;}
	.banner-left {width:38%;}
}
@media only screen and (max-width: 767px) {
	.bottom-button {padding:10% 0 0 0}
	.customers-main {padding:45px 0;}
	.customers-content {margin-top:10px;}
	.body-content-center p {width:96%; margin:8px auto 0;  }
	.body-content .content-left {width:100%; float:none; margin:0 auto;}
	.content-right {width:100%; margin:20px auto 0; float:none;}
	.content-right .right-text {width:100%;}
	.content-right img {width:35%;}
	.banner-right {width:96%; margin:28px auto 0; float:none; display:block;}
	.banner-right .title {font-size:30px; line-height:32px;}
	.banner-left {margin:0 auto; display:block;}
	.banner {padding:30px 0;}
	.footer {padding:30px 0;}
	.footer-center {width:94%; margin:0 auto;}

@media only screen and (max-width: 500px) {
	.banner-right .title {font-size:24px; line-height:26px;}
	.banner-right .text {font-size:16px; line-height:20px;}
	.banner-right .button a {font-size:24px;}
	.customers-title {font-size:26px;}
	.customers-main {padding :35px 0 25px;}
	.body-content {padding:32px 0;}
	.customers-text p {line-height:22px;}
	.customers-text {min-height:66px;}
	.body-content .content-left ul li b {font-size:16px; line-height:20px;}
	.body-content-center p {font-size:14px; line-height:20px;}
	.content-right .right-text {line-height:20px;}
	.body-content .content-left ul {margin-top:30px}
	.bottom-button {min-height:132px;}
	.bottom-button .button a {font-size:24px;}		
	.body-content .content-left ul li .number {margin-right:3%;}
	.body-content .content-left ul li .number-right {width:85%;}
	.customers-text {width:100%; margin:0px 0 10px; min-height:0px; padding-bottom:13px; }
	.customers-text p {text-align:left;}
	.customers-content .last {width:100%; border-bottom:0px; margin-bottom:0px; padding-bottom:0px;}
	.enjoy-bundle {padding:8% 0 5%;}
	.bottom-button .button {width:96%; margin:0 auto;}
}
@media only screen and (max-width: 400px){
	.banner-right .title {font-size:22px; line-height:24px;} 
	.banner-right .button a {font-size:20px; line-height:22px;}
	.customers-title {font-size:24px; line-height:26px;}
	.content-right {margin-top:5px;}
	.bottom-button .button a {font-size:20px; line-height:22px;}
	.bottom-button { min-height: 128px; }
	.footer { padding: 20px 0; }
	.header-bg {padding:20px 0 18px;}
	.body-content .content-left ul li .number-right {width:82%;}
	.bottom-button .lock {width:96%;}
	.bottom-button { min-height: 150px; }
}
@media only screen and (max-width: 350px){
	.body-content .content-left ul li .number-right {width:78%;}
	.banner-right .button {width:98%;}
	.banner-right .button {width:93%; margin:15px auto 0;}
	.bottom-button .button {width:88%;}
}

