#imageTitle, #imageSelection {
}

#imagesarea {
	margin-top: 10px;
	float: left;
	clear: both;
	width: 100%;
}

#imageDescription {
	background: none repeat scroll 0 0 #CCFDDE;
	border-radius: 6px 6px 6px 6px;
	clear: both;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 20px;
	padding: 5px 10px;
	width: 95%;
}

.imageEntry {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	.uploadPhoto {
		margin-left: 120px;
		margin-bottom: 20px;
	}
}

.imageEntry label {
	margin-left: 5px;
	margin-right: 20px;
}

.imageEntry img {
	float: left;
	clear: both;
	text-align: center;
	margin-top: 10px;
	margin-left: 120px;
	
}

.imageError {
	margin-left: 120px;
}

.defaultLabel {
	font-weight: bold;
	float: left;
	width: 120px;
}

.defaultTextField {
	float: left;
	width: 70%;
}

#imageText {
	float: left;
	margin-left: 120px;
	margin-top: 5px;
}

#imageButtons {
	float: left;
	clear: both;
	margin-bottom: 10px;
	margin-top: 15px;
	.submitButton {
		float: left;
		margin-left: 120px;
	}
	.cancelButton {
		float: left;
		margin-left: 20px;
		margin-top: 5px;
	}
}

#bottomText {
	float: left;
	margin-left: 120px;
}