#imagesRecentTitle {
	float: left;
	clear: both;
	width: 100%;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#imagesRecentTitleImage {
	float: left;
	width: 48px;
	height: 40px;
	background: url("../../img/header/images.png") no-repeat scroll 8px -47px
}

#imagesRecentTitleText {
	margin-top: 15px;
}

#imagesRecentArea {
	clear: both;
	float: left;
	width: 100%;
	padding-left: 8px;
}

.imagesRecentEntry {
	float: left;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.imagesRecentEntry:hover{
	background: #EEEEF3;
}

.imagesRecentEntryPicture {
	float: left;
	clear: both;
	height: 100px;
	cursor: pointer;
}

.imagesRecentEntryPicture img {
	border: 1px solid #778;
}

.imagesRecentEntryText {
	float: left;
	clear: both;
	width: 100px;
	max-width: 100px;
	height: 40px;
	font-size: 11px;
}

.imagesRecentEntryText a {
    text-decoration: none;
}

#imagesRecentMore {
	float: right;
	clear: both;
}