#photoarea, #wparea, #iconarea, #artarea {
	float: left;
	clear: both;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

.photoareaBorder,  .wpareaBorder, .iconareaBorder, .artareaBorder {
	border-bottom: 2px solid #D8E0F0;
	border-color: #D8E0F0;
	border-width: 1px;
	margin-top: 10px;
}

#photoTitle, #wpTitle, #iconTitle, #artTitle {
	float: left;
	margin-top: 0;
	font-weight: bold;
	width: 80%;
}

.photoEntryRow, .wpEntryRow, .iconEntryRow , .artEntryRow {
	float: left;
	clear: both;
	width: 100%;
}

.photoEntry, .wpEntry {
	float: left;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.iconEntry, .artEntry {
	float: left;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	max-width: 80px;
}

.photoID, .wpID {
	text-align: center;
	max-width: 100px;
	font-size: 11px;
}

.iconID, .artID {
	text-align: center;
	max-width: 70px;
	font-size: 11px;
}

#morePhotos, #moreWP, #moreIcon, #moreArt {
	float: right;
	clear: both;
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
}