#imagearea {
	float: left;
	clear: both;
	width: 100%;
}

.imageareaBorder {
	border-bottom: 2px solid #D8E0F0;
	border-color: #D8E0F0;
	border-width: 1px;
}

#imageAreaTitle {
	float: left;
	padding-bottom: 10px;
	width: 100%;
}

#imageTitle {
	float: left;
	font-weight: bold;
}

.imageEntryRow {
	float: left;
	clear: both;
}

.imageEntry {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	max-width: 100px;
}


.imageID {
	text-align: center;
	font-size: 11px;
}