@import "../site_config/variables.less";

#imagearea {
	float: left;
	clear: both;
	width: 100%;
	background: @imageBackgroundColor;
	background: -webkit-linear-gradient(top, #555 0%, @imageBackgroundColor 100%);
	margin-bottom: 15px;
	border-radius: 8px;
	a {
		color: #fff;
		text-decoration: none;
		font-size: 18px;
		&:hover {
			color: #a4b1cc;
		}
	}
}

.imageareaBorder {
	border-bottom: 2px solid #666;
	border-color: #666;
	border-width: 1px;
}

#imageTitle {
	float: left;
	margin-top: 5px;
	font-size: 18px;
	font-weight: bold;
	width: 80%;
}

.imageBorder {
	float: left;
	width: 100%;
	margin-top: 15px;
}

#browseImage {
	float: left;
	width: 100%;
	margin-left: 5%;
}

#browseImageText {
	float: left;
	width: 100%;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: 10px;
}

#prevBrowse {
	float: left;
	margin-left: 35%;
	font-weight: normal;
	color: #BBB;
}

#nextBrowse {
	float: left;
	margin-left: 50px;
	font-weight: normal;
	color: #BBB;
}

#prevBrowse a, #nextBrowse a {
	font-weight: bold;
	&:hover {
		cursor: pointer;
	}
}

#bigSingleImage {
	float: left;
	clear: both;
	text-align: center;
	width: 100%;
}

.mainImage {
	float: left;
	max-width: 100%;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 25px 10px;
}

#singleImageStatistics {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#singleImageTitle {
	float: left;
	clear: both;
	width: 98%;
	font-size: 18px;
	text-align: center;
	color: #EEE;
}

#singleImageCredit {
	clear: both;
	font-size: 11px;
	text-align: center;
	color: #fff;
}

#singleImageDesc {
	float: left;
	clear: both;
	width: 100%;
	font-size: 13px;
	margin-bottom: 10px;
	text-align: center;
}

#author {
	font-size: 11px;
	text-align: center;
	color: #ffffff;
}

.imageEntry {
	float: left;
	margin: 1em 0;
	margin-left: 8px;
	margin-right: 8px;
	height: 100px;
	width: 100px;
	background: #777;
	border-color: #777;
	border-radius: 5px;
	position: relative;
	&:hover {
		background: #fff;
		border-color: #fff;
	}
	img {
		max-height: 90px;
		max-width: 90px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background: #3A6F9A;
		font-size: 10px;
	}
}
.selectedImage {
	background: #fff;
	border-color: #fff;
	border-radius: 5px;
}

.imageThumb {
	border-radius: 5px;
}

.arrowDiv {
	float: left;
	padding-top: 25%;
	vertical-align: middle;
	margin-right: 2%;
	margin-left: 2%;
	a {
		text-decoration: none;
	}
}

@media screen and (max-width: 600px) {
	.arrowDiv {
		margin-right: 1%;
		margin-left: 1%;
	}
}

.leftArrowBtn, .rightArrowBtn {
	float: left;
	color: #181818;
	font-size: 80px;
	background: rgba(0, 0, 0, 0.85);
	padding: 10px;
}
.leftArrowBtnAvailable, .rightArrowBtnAvailable {
	color: #D8D8D8;
	&:hover {
		color: #ffffff;
	}
}

#image-cover {
	position: relative;
	width: 100%;
	img {
		width: 90%;
		height: auto;
		margin: 5%;
		box-shadow: 3px 3px 30px 5px #000;
		border-radius: 8px;
	}
}
#arrow-container {
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width: 100%;
	max-width: 980px;
	margin:auto;
	div {
		position: absolute;
		top: -webkit-calc(50% - 19px);
		top: -moz-calc(50% - 19px);
		top: -ms-calc(50% - 19px);
		top: calc(50% - 19px);
		width: 38px;
		height: 38px;
	}
	#arrow-left {
		left: -5px;
	}
	#arrow-right {
		right: 30px;
	}
}
