.tabBase {
	float: left;
	border-right: 1px solid #ccc;
	cursor: pointer;
	width: 48px;
	height: 40px;
}

.home {
	.tabBase;
	background-image: url('../img/header/page_home.png');
	background-repeat: no-repeat;
	background-position: 8px -2px; 
}

.homeClick, .homeHover {
	background-position: 8px -46px;
}

.picks {
	.tabBase;
	background-image: url('../img/header/smiling_star_small.png');
	background-repeat: no-repeat;
	background-position: 2px 0px; 
}

.picksClick, .picksHover {
	background-position: 2px -40px; 
}

.images {
	.tabBase;
	background-image: url('../img/header/images.png');
	background-repeat: no-repeat;
	background-position: 8px 2px;
}

.imagesClick, .imagesHover {
	background-position: 8px -48px;
}

.videos {
	.tabBase;
	background-image: url('../img/header/videos.png');
	background-repeat: no-repeat;
	background-position: 8px -1px;
}

.videosClick, .videosHover {
	background-position: 8px -42px;
}

.forum {
	.tabBase;
	background-image: url('../img/header/forum.png');
	background-repeat: no-repeat;
	background-position: -1px -1px;
}

.forumClick, .forumHover {
	background-position: -1px -44px;
}

.wall {
	.tabBase;
	background-image: url('../img/header/wall.png');
	background-repeat: no-repeat;
	background-position: 1px 2px;
}

.wallClick, .wallHover {
	background-position: 1px -43px;
}

.favorites {
	.tabBase;
	background-image: url('../img/header/thumbs_sprite.png');
	background-repeat: no-repeat;
	background-position: 1px 10px;
}

.favoritesClick, .favoritesHover {
	background-position: 1px -20px;
}

.quizzes {
	.tabBase;
	background-image: url('../img/header/checkcross_small.png');
	background-repeat: no-repeat;
	background-position: 7px 4px;
}

.quizzesClick, .quizzesHover {
	background-position: 7px -33px;
}

.jquerybubblepopup a:hover {
	color: white;
}

.tabbed_area {
	padding: 1px 1px 0 1px;
	float: left;
}

div.tabs {
	padding: 0px;
	margin: 0px;
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 6px;
}
div.tabs div {
	float: left;
}
div.tabs div a {
	float: left;
	background-color: #EDEDED;
	border: 1px solid #CCCCCC;
	color: #778;
	margin-right: 3px;
	/*padding: 8px 14px 8px 14px;*/
	text-decoration: none;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background-repeat: repeat-x;
	background-position: bottom;
	border-radius: 3px 3px 0 0;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 18px 0px;
}
div.tabs div a:hover {
	background-color: #FFFFFF;
	border-color: #CCCCCC;
	color: #778;
}
div.tabs div a.active {
	background-color: #FFFFFF;
	color: #778;
	border: 1px solid #CCCCCC; 
	border-bottom: 1px solid #fff; 
	background-repeat: repeat-x;
	background-position: top;

/*
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , #DAF152, #FFFFFF);
	border-top-color: #C6DF42;
	border-top-style: solid;
	border-top-width: 5px;
	color: #666666;
	font-family: Arial,Verdana,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	height: 22px;
	margin-top: 0;
	padding-bottom: 6px;
	padding-top: 1px;
	top: 1px;
*/
}

.content {
	background-color: #ffffff;
	padding: 0;
	border: 1px solid #CCCCCC;
	border-bottom: none;
	font-family: Arial, Helvetica, sans-serif;
	background-repeat: repeat-x;
	background-position: bottom;
	border-top-left-radius: 0px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-top: 46px;
}

#content_home, #content_images, #content_picks, #content_quizzes {
	display:none;
}

@media screen and (max-width: 600px) {
	.tabbed_area {
		padding: 1px 0px 0;
	}
	.tabBaseSmall {
		width: 44px;
		height: 40px;
	}
	.home {
		.tabBaseSmall;
		background-position: 6px -2px; 
	}
	.homeClick, .homeHover {
		background-position: 6px -46px;
	}

	.picks {
		.tabBaseSmall;
		background-position: 0px 0px; 
	}

	.picksClick, .picksHover {
		background-position: 0px -40px; 
	}

	.images {
		.tabBaseSmall;
		background-position: 6px 2px;
	}

	.imagesClick, .imagesHover {
		background-position: 6px -48px;
	}

	.videos {
		.tabBaseSmall;
		background-position: 6px -1px;
	}

	.videosClick, .videosHover {
		background-position: 6px -42px;
	}

	.forum {
		.tabBaseSmall;
		background-position: -3px -1px;
	}

	.forumClick, .forumHover {
		background-position: -3px -44px;
	}

	.wall {
		.tabBaseSmall;
		background-position: -1px 2px;
	}

	.wallClick, .wallHover {
		background-position: -1px -43px;
	}

	.favorites {
		.tabBaseSmall;
		background-position: -1px 10px;
	}

	.favoritesClick, .favoritesHover {
		background-position: -1px -20px;
	}

	.quizzes {
		.tabBaseSmall;
		background-position: 5px 4px;
	}

	.quizzesClick, .quizzesHover {
		background-position: 5px -33px;
	}

}
