#mainarea {
	float: left;
	width: 63%;
	padding-top: 0;
	padding-bottom: 20px;
	padding-right: 8px;
}

#mainarea a {
	text-decoration: none;
}

#toparea {
	float: left;
	width: 99%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.topareaBorder {
	border-bottom-style: dotted;
	border-width: 3px;
	border-color: #EBEBEB;
}

#title {
	float: left;
	clear: both;
	font-size: 12px;
}

#title h1 {
	float: left;
	display: block;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
}

#addQuestion {
	float: right;
	font-weight: bold;
}

#followDiv {
	float: right;
	font-weight: bold;
	margin-top: 5px;
}

#sortarea {
	float: left;
	clear: both;
	width: 99%;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
}

#sortlink {
	float: left;
}

#sortfilter {
	float: right;
}

#sortNumItems {
	float: left;
	clear: both;
}

#sortPageChanger {
	float: right;
}

#bottomPageChanger {
	float: left;
	clear: both;
	width: 95%;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 20px;
}

#bottomPrevious {
	float: left;
}

#bottomMiddle {
	float: left;
	margin-left: 130px;
}

#bottomNext {
	float: right;
}
