#topProfileTitle {
	padding-left: 10px;
}

#title {
	font-size: 10px;
}

.blueTitle {
	color: #778;
	font-size: 22px;
	font-weight: bold;
	font-family: Arial;
}

.subTitle {
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
}

.headline {
	color: #778;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
}

.info dd{ 
	margin-left:0px;
	margin-right: 10px;
	margin-bottom: 3px;
	width:100px;
	display: inline-block;
	vertical-align: top;
	color: #889;
	font-weight: bold;
}

.info dt{
	display:inline-block; 
	width:160px;
	margin-bottom: 3px;
	padding-left: 10px;
}

.topProfileBox {
	padding: 10px;
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
	/*border: 2px dotted #ccd;*/
}

.column1, .column2, .column3{ 
	display: inline-block;
	width: 33%;
	vertical-align:top;
	font-size: 12px;
}

.column1 {
	float: none;
	display: inline-block;
}

.columnsLayout2 {
}

.columnsLayout2 .leftColumn{ 
	width: 34%;
	float: left;
}

.columnsLayout2 .rightColumn{ 
	float: left;
	margin-left: 50px;
	width: 60%;
	display: inline-block;
}

a.flagButton {
	background: url("../img/icons/profile_flag_25.png") no-repeat scroll 0 0 transparent;
	border-left: 1px solid #DDDDDD !important;
	float: right;
	margin-right: 0;
	width: 35px;
	height: 24px;
}

a.flagButton:hover {
	background-position: 0 -25px;
}

#flagConfidentialMessage {
	font-size: 11px;
}

.italicTxt {
	color: #aaa !important;
	font-style: italic !important;
}

/* recently visited element */
div.recentlyVisitedUsers {
	background-color: #f3f3f7;
	padding: 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.recentlyVisitedUsers h2 {
	color: white;
	font-size: 15px;
	margin-top: 0px;
}

#recentlyVisitedList {
	margin-bottom: 5px;
}
#recentlyVisitedList div {
	width:45px;
	height:45px;
	/* float: left; */
	display: inline-block;
	margin-left:10px;
}
div.recentlyVisitedUsers  span.btn {
	padding: 3px 8px;
	margin-left: 25%;
	margin-top: 10px;
}
/* recently visited element end */

#topPart {
	position:relative;
}

#leftPane {
	width:50%;
	margin-right:5px;
}

#rightPane {
	width:50%;
	left:50%;
	position:absolute;
	height:100%;
	top:0px;
	bottom:0px;
}

.checkbox label {font-weight: normal;}
.tableForm .label {font-size: 13px;font-weight: bold;}
.tableForm td{border-bottom:1px solid #dddddd;padding: 4px 0 4px 0;}
.tableForm td td{border-bottom:none;}
.tableForm td td#locationField td {padding-left: 15px;}
.tableTextForm .label {font-size: 14px;font-weight: bold;}
.tableTextForm td{padding: 4px 0 4px 0;}

#profileManageLinks{
  width:60%;
  height: 88px;
}

#profileManageLinks .thumbnail{ 
  float: left;
  padding: 4px;
  margin-right:7px;
}


div.the_skinny {
	display: inline-block;
	line-height: 20px;
	margin-bottom: 6px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 6px;
	padding-right: 21px;
	position: relative;
}
body.firefox h4.blue_cap {
	line-height: 30px;
}
h4.blue_cap {
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-size: auto auto;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: -moz-linear-gradient(center top , #E3E3E3, #05010D);
	background-position: 0 0;
	background-repeat: repeat;
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #D5E1ED;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-left-style-value: solid;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-left-width-value: 1px;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: #D5E1ED;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right-style-value: solid;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-right-width-value: 1px;
	border-top-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 1px;
	color: #fff;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	line-height: 31px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0;
	/*text-shadow: 0 1px 0 #FFFFFF;*/
	width: auto;
}
div#right_column div#profile_details {
	margin-bottom: 30px;
}
div#right_column div#profile_details dl {
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #DDDDDD;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-left-style-value: solid;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-left-width-value: 1px;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: #DDDDDD;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right-style-value: solid;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-right-width-value: 1px;
	border-top-color: -moz-use-text-color;
	border-top-style: none;
	border-top-width: medium;
	color: #555555;
	font-size: 11px;
	line-height: 1.3em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	position: relative;
}
div#right_column div#profile_details dl dt {
	color: #999999;
	font-size: 10px;
	left: 0;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 0;
	padding-top: 10px;
	position: absolute;
	top: 0;
}
div#right_column div#profile_details dl dd {
	padding-bottom: 10px;
	padding-left: 100px;
	padding-right: 10px;
	padding-top: 10px;
}

#mainarea {
	float: left;
	width: 97%;
}

#leftPhoto {
	float: left;
	width: 30%;
	vertical-align: middle;
	margin-top: 25px;
}
#rightProfile {
	float: right;
	width: 70%;
	background-color: #FFFFFF;
}

#photo, #name {
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
}

.column {
	float: left;
	width: 100%;
}

.textEntry {
	float: left;
	clear: both;
    border-bottom: 1px solid #DDDDDD;
    padding: 4px 0;
	
}

.label {
	float: left;
    color: #888899;
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    vertical-align: top;
    width: 100px;
	margin-left: 5px;
	margin-top: 5px;
	height: 21px;
}

.value {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	width: 508px;
}

.leftline {
	border-left: solid 1px;
	min-height: 125px;
}

.clear {
	float: left;
	margin-bottom: 20px;
}