.container{ 
	position: auto;
}

#leftPanel{ 
	width:240px;
	float:left;
}

#rightPanel{ 
	/*float:left;*/
	display: inline-block;
	margin-left: 75px;
}

/**** photos manage styles ****/
.thumbnailCtrl{ 
	background: none repeat scroll 0 0 #EEEEEE;
	border-bottom: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-top: 1px solid #E7E7E7;
	margin: 1px 0 0;
	padding: 9px;
	position: relative;
	display:block;
	cursor: move;
}

.thumbnailCtrl div.ctrlLinks, .thumbnailCtrl div.reorderCtrl{ 
	float:left;
}

.thumbnailCtrl div.ctrlLinks{ 
	margin-left:5px;
}

.thumbnailCtrl div.reorderCtrl{ 
	position: absolute;
	height: 44px;
	right: 0px;
	width: 42px;
	/*top: 0px;*/
}

.thumbnailCtrl img.thumbnail{ 
	float:left;  
}

#thumbnailsList{ 
	/*  padding-left: 0px;*/
	list-style-type: none; margin: 0 1; padding: 0;
}

#thumbnailsList li{ 
	height: 60px;
}
