@import "site_config/variables.less";

/* CSS Grid http://onepcssgrid.mattimling.com */
@import "grid/onepcssgrid.less";
@import "grid/onepcssgrid_custom.less";

* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

body {
	font-size:13px;
	padding: 0;
	margin: 0;
	background: @bodyColor;
}

ul {
	list-style: none;
}

a {
	border: 0;
	margin: 0;
	padding: 0;
	color: @linkColor;
	text-decoration: none;
	&:hover {
		color: @linkColor - @linkHoverColorOffset;
	}
	img {
		border:0;
	}
}

.darkBackground {
	a {
		color: @linkColorDarkBackground;
		&:hover {
			color: @linkColorHoverDarkBackground;
		}
	}
}

input {
	outline: none;
}

h1,h2,h3 {
	/*color: @textColor;*/
}

h3 {
	font-size: 16px;
}

#topContainer {
	margin-left: auto;
	margin-right: auto;
	margin:0 auto;
}

.clear {
	clear: both;
}

#mainpart {
	background: url("../img/noimage2.png") repeat scroll 0 0 transparent;
	background: url("../img/logo/tree-heart.jpg") repeat scroll 0 0 transparent;
	background: url("../img/layout/grayparch.jpg") repeat scroll 0 0 transparent;
	background: none;
	min-height: 400px;
	/*
	border: 1px solid #555566;
	-moz-box-shadow: 0 0 120px #555566;
	-webkit-box-shadow: 0 0 120px #555566;
	box-shadow: 0 0 120px #555566;
	width: 1007px;
	box-shadow: 0 0 120px #FFFFFF;
	background-color: #9999AA;
	*/
	padding: 0px;
	margin:0 auto;
	margin-bottom: 20px;
	margin-top: 0;
	/*width: 1000px;*/
}

.quote {
	/*font-family: georgia,serif;*/
	font-family: Trebuchet MS;
	font-size: 1.9em;
	font-size-adjust: none;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
}

#content {
	clear: both;
	float: left;
	width: 98%;
	color: @textColor;
	padding-top: 5px;
	padding-bottom: 0px;
	border-radius: 5px;
}

.contentContainer {
	float: left;
	text-align: left;
	width: 98.5%;
	background: #FFFFFF;
	padding: 10px 0px 10px 10px;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 20px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 5px 16px 0 #555;
	box-shadow: 0 2px 3px 0px #AAA;
}

#searchResultsContainer {
	float: left;
	display: block;
	min-height: 200px;
	width: 98%;
	border-radius: 10px;
	padding: 5px;
}

#searchResultsContainer #searchResultsTitle {
	float: left;
	font-size: 16px;
	font-weight: bold;
}

#searchResultsContainer #searchResultsClose {
	float: right;
	margin-top: -10px;
	cursor: pointer;
	color: #aaaaaa;
	font-size: 24px;
	&:hover {
		color: #000;
	}
}

#tabbed_box {
	/*margin-top: -45px;*/
	margin-left: 7px;
	float: left;
}

#content #MooFlow {
	border: 5px solid #777788;
	width:660px;
	float:left;
}

#leftPanel{ 
	width: 50%;
	display: block;
	float: left;
}

#rightPanel{ 
	width: 50%;
	display: block;
	float:left;
}

table.formTable td.label{ 
	color: #777788;
	font-weight: bold;
	padding-right: 20px;
	text-align: right;
	vertical-align: middle;
}

table.formTable td{ 
	text-align:left;
}

#jGrowl div.jGrowl-close {
	font-size: 24px;
	margin-top: -10px;
	margin-right: -5px;
}
#jGrowl div.jGrowl-message {
	font-size: 18px;
}
#jGrowl div.jGrowl-notification {
	border: 2px solid #AAA;
	border-radius: 10px;
}

/** jgrowl themes */
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	opacity: 1;
}
.jGrowl-message a:hover {
	color: #FFF;
}

div.jGrowl div.black {
	background: #000000;
	border-color: #000000;
	color: #FFFFFF;
	font-size: 20px;
}

div.jGrowl div.grey {
	background: #000000;
	border-color: #000000;
	color: #FFFFFF;
	background-color: #777788;
	font-size: 20px;
}

img.badgeIcon {
	margin-top: 15px;
	margin-bottom: 10px;
}

/* forms */
label {
	font-weight:bold;
	margin-right:0;
	margin-bottom:2px;
}

div.submit {
	margin-left: 0;
}

div.submitRight{
	margin-left: auto;
	width: 235px;
	text-align: center;
}

div.submitCenter{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 250px;
	text-align: center;
}

#shadedOverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10000000;
	background: #000000;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#loader {
	position: fixed;
	z-index: 20000000;
	background-color: transparent;
	background-image: url(../img/spinners/beads.gif);
	background-repeat: no-repeat;
	background-position: center;
	top: 1px;
	right: 5px;
	width: 48px;
	height: 48px;
}

.loading {
	position: absolute;
	z-index: 100;
	background-color: #ffffff;
	background-image: url(../img/layout/icn-load.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.blueTitle {
	color: #2963a4;
}
.greyTitle {
	color: #556;
	font-size: 25px;
	font-weight: bold;
}
.greyBox{
	color: #000;
	margin-bottom:6px;
	padding:3px;
}

.blueBox {
	background-color: #183b62;
	color: white;
	padding: 3px;
}
.blueBox a {
	color: #fff;
	text-decoration: none;
}
.blueBox a:hover {
	color: #f5ef30;
}
.manageLinksBox {
	background-color: #777788;
	color: white;
	padding: 3px;
}
.manageLinksBox a {
	color: #fff;
	text-decoration: none;
}
.manageLinksBox a:hover {
	color: #f5ef30;
}

/* dialog styles */
/*.ui-dialog { border:10px solid #666;

		/* for modern browsers use semi-transparent color on the border. nice! */
/*		border:10px solid rgba(82, 82, 82, 0.698);

		/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
/*		-moz-border-radius:8px;
		-webkit-border-radius:8px;
 }
/*
.ui-widget-overlay{ opacity:0.1; background:none; }*/



.edit_icon {
	background: url("../img/layout/edit_icons.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 21px;
	margin: -3px 0 0 5px;
	vertical-align: middle;
	width: 21px;
}

p.control:hover span.edit_icon {
	background-position: -21px 0;
}

p.control {
	cursor:pointer;
}


hr {
	height: 1px;
	border: none;
	background-color: #ddd;
}


/*.container{ position:relative; }*/
.center {
	margin-left: auto; margin-right: auto;
	text-align:center;
}

div.randomUsers {
	margin-bottom: 5px;
	height: 80px;
}

.randomUsers div {
	width:80px;
	height:80px;
	float: left;
	margin-left:10px;
	border: 1px solid #eee;
}

/* pager styles */
.pager div.pages {
	float:right;
	margin-right:10px;
}

.pager p {
	text-align: right;
}
/* pager styles end */

.smallText {
	font-size: 8pt;
}

.profiles #locationMapCountry {
	width: 88%;
}

.profiles #locationMapRegion {
	width: 88%;
}

.users #locationMapCountry {
	width: 49%;
}

.users #locationMapRegion {
	width: 49%;
}

#breadcrumbs {
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 5px;
	margin-left: 3px;
	font-size: 12px;
	margin-top: 5px;
}

#breadcrumbs > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}

.pageBannerImgSmall {
	border: 0;
	margin-left: 2px;
	padding: 4px;
	background-color: #EEE;
	float: right;
	border-radius: 55px;
	box-shadow: 1px 1px 8px 1px @headerMenuBoxShadowColor;
}

#pageMenu {
	float: left;
	width: 100%;
}
#pageThumbnail {
	float: right;
	margin-top: -30px;
}
#pageActions {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	width: 20%;
}

h2.pageTitleOverlay {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none;
	float: right;
	text-shadow:
			0 0 10px white,
			0 0 20px black,
			0 0 30px white,
			0 0 40px black,
			0 0 70px white,
			0 0 80px black,
			0 0 100px white,
			0 0 150px black;
	color: #000;
}

#pageBannerCaption {
	float: left;
	color: @textColor;
	font-size: 12px;
	font-family: arial;
	margin-top: 5px;
	padding-left: 2px;
	width: 65%;
	padding-right: 20px;
	text-align: justify;
}

@media screen and (max-width: 980px) {
	#pageBannerCaption {
		width: 55%;
	}
	#pageThumbnail {
		margin-top: 0;
	}
}
@media screen and (max-width: 600px) {
	#pageBannerCaption {
		display: none;
	}
	#pageActions {
		width: 40%;
	}
}

img.quoteIcon {
	margin-right: 10px;
	color: #777;
}

.message {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background-color: white;
	padding: 5px 10px 5px 10px;
	width: 98%;
	min-height: 50px;
	font-size: 1.5em;
	display: inline-block;
	line-height: 1.2;
	font-weight: 300;
	border: 1px #DDDDDD solid;
	-moz-box-shadow: 1px 1px 4px 0 #CCCCCC;
	-webkit-box-shadow: 1px 1px 4px 0 #CCCCCC;
	box-shadow: 1px 1px 4px 0 #CCCCCC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	color: #2B2B2B;
}

.status_arrow_right {
	background-image: url("../img/right_arrow.png");
	background-repeat: no-repeat;
	background-position: 591px 15px;
	height: 35px;
	position: relative;
	z-index: 10;
}

#pageFollowStat {
	clear: both;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 5px;
}

#pageFollowFans {
	margin-bottom: 5px;
	float: right;
	clear: both;
	font-size: 11px;
}

#pageFollowBtn {
	float: right;
	font-weight: bold;
	clear: both;
}

/* dos and donts */
.tips_photos {
	background-color: #F8F8F8;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #E2E2E2;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	margin-left: 5px;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 8px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 8px;
	text-align: left;
	color: #000;
}

.tips_photos .title {
	-moz-font-feature-settings: normal;
	-moz-font-language-override: normal;
	-x-system-font: none;
	color: #000;
	font-family: arial;
	font-size: 14px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 1.3;
	padding-bottom: 12px;
}

.tips_photos .dos_and_donts {
	-moz-font-feature-settings: normal;
	-moz-font-language-override: normal;
	-x-system-font: none;
	font-family: arial;
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1.2;
	margin-bottom: 10px;
	margin-left: 4px;
	margin-right: 20px;
	margin-top: 4px;
	text-align: left;
	width: 95%;
}

.tips_photos .dos_and_donts .dos_icon {
	color: #5A945A;
}

.tips_photos .dos_and_donts .donts_icon {
	color: #999;
	text-shadow: -1px -1px 1px #000;
}

.tips_photos .dos_and_donts .dos_icon, .tips_photos .dos_and_donts .donts_icon {
	float: left;
	font-size: 20px;
}

.tips_photos .dos_and_donts .dos, .tips_photos .dos_and_donts .donts {
	margin-bottom: 18px;
	padding-left: 30px;
}

.flashLogin {
	display: inline;
	text-decoration: underline;
	cursor: pointer;
}

.flashCreateAccount {
	display: inline;
	text-decoration: underline;
	cursor: pointer;
}

/* flagging */
.flagButton {
	background: url("../img/flag_icons/flag.png") no-repeat scroll 3px 0px transparent;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.flagButton:hover {
	background-position: 3px -20px;
}

.flagButtonActive {
	background-position: 3px -20px;
}

.flagOptionsBoxInner {
	clear: both;
	padding: 6px 6px 6px 6px;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
	margin: 2px 0 0 0;
	background-color: white;
	color: #999;
	width: 100%;
	float: left;
}

.flagResultBox {
	clear: both;
	float: left;
	margin-top: 5px;
	font-size: 11px;
	font-style: italic;
	color: #860000;
}

.flagOptionSpan {
	float: left;
	font-weight: bold;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	border: 1px solid #FCC;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
	background-color: #FEE;
	color: #B77;
}

.flagOptionSpan:hover {
	border: 1px solid #777;
	background-color: #F77;
	color: white;
	-khtml-box-shadow: rgba(0,0,0,0.75) 0px 8px 24px;
	-moz-box-shadow: rgba(0,0,0,0.75) 0px 8px 24px;
	box-shadow: rgba(0, 0, 0, 0.75) 2px 4px 10px;
}

.flagOptionComment {
	clear: both;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 95%;
}

.flagTitle {
	clear: both;
	float: left;
	margin: 5px 0px 5px 10px;
	font-weight: bold;
	font-size: 13px;
}

.flagCancelSpan {
	clear: both;
	width: 30%;
	text-align: center;
	margin-left: 32%;
	font-weight: bold;
}


/* pagination */
.paginationContext {
	clear: both;
	margin-bottom: 15px;
	float: right;
	font-size: 11px;
	color: #BBB;
}

.pagination {
	clear: both;
	margin-bottom: 8px;
	float: right;
}

.paginatorNumbers, .current, .previous, .next {
	font-size: 18px;
	font-weight: normal;
	width: 20px;
	height: 20px;
	margin: 1px;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.paginatorNumbers {
	color: #fff;
	cursor: pointer;
	background-color: #D3D3D3;
}

.current {
	color: #fff;
	cursor: default;
	background-color: #535353;
}

.previous {
	margin-right: 10px;
}

.next {
	margin-left: 10px;
}

a.previous, a.next {
	color: #fff;
	cursor: pointer;
	background-color: #D3D3D3;
}

a.previous:hover, a.next:hover {
	color: #000;
}

span.previous, span.next {
	color: #fff;
	cursor: default;
	background-color: #F2F2F2;
}

#ad_medium_rectangle_300_250 {
}

.ad_leaderboard_728_90 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
#ad_leaderboard_728_90, #ad_leaderboard_728_90_2 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
#ad_horizontal_banner_468_60 {
	margin-bottom: 15px;
	text-align: center;
}
#ad_spreadshirt {
	margin-top: 20px;
}
#ad_spreadshirt img {
	max-width: 100%;
}

/* tags */
.tags {
	overflow: hidden;
	margin: 0;
	list-style: none;
	clear: both;
	li, a {
		float: left;
		height: 24px;
		line-height: 24px;
		position: relative;
		font-size: 11px;
		margin: 3px;
	}
	a {
		margin-left: 13px;
		padding: 0 10px 0 12px;
		background: @tagColor;
		color: #fff;
		text-decoration: none;
		-moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
		border-bottom-right-radius: 4px;
		-moz-border-radius-topright: 4px;
		-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
		box-shadow: #aaa 0 2px 10px 0;
		box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
		-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
		-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
		&:before {
			content: "";
			float: left;
			position: absolute;
			top: 0;
			left: -12px;
			width: 0;
			height: 0;
			border-color: transparent @tagColor transparent transparent;
			border-style: solid;
			border-width: 12px 12px 12px 0;
		}
		&:after {
			content: "";
			position: absolute;
			top: 10px;
			left: 0;
			float: left;
			width: 4px;
			height: 4px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			background: #fff;
			-moz-box-shadow: -1px -1px 2px #004977;
			-webkit-box-shadow: -1px -1px 2px #004977;
			box-shadow: -1px -1px 2px #004977;
		}
	}
}

/* Scrollbar
----------------------------------------------------------------------------------------------------*/
body {
	bottom: 0;
	left: 0;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 10px;
	height: 7px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	display: block;
	height: 0px;
}

::-webkit-scrollbar-button:vertical:increment {
	background-color: #777;
}

::-webkit-scrollbar-button:vertical:decrement {
	background-color: #777;
}

::-webkit-scrollbar-track-piece {
	background-color: #eee;
	-webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: #aaa;
	-webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 20px;
	background-color: #aaa;
	-webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #888;
}

::-webkit-scrollbar-thumb:active {
	background-color: #555;
}

/* End Scrollbar
----------------------------------------------------------------------------------------------------*/

::selection {
	background: @textSelectColor; /* Safari */
	color: #fff;
}

::-moz-selection {
	background: @textSelectColor; /* Firefox */
	color: #fff;
}

/* Scroll to Top button */
.scrollup {
	width: 40px;
	height: 40px;
	position: fixed;
	opacity: 0.3;
	bottom: 5px;
	right: 5px;
	font-family: 'WebSymbolsRegular';
	font-size: 30px;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Links next to ads going to Advertising page */
#divLinkAdvertisingPage_728_90 {
	float: right;
	margin-right: 125px;
}
#divLinkAdvertisingPage_468_60 {
	float: right;
	margin-right: 80px;
}
#divLinkAdvertisingPage_300_250 {
	float: left;
	margin-left: 0px;
}
.divLinkAdvertisingPage {
	margin-bottom: 3px;
	font-size: 11px;
}
.linkAdvertisingPage {
	text-decoration: none;
}

/* popup dialog */
.dialogPopupContent {
	display: none;
	position: fixed;
	top: 12%;
	left: 52%;
	margin-left: -300px;
	width: 600px;
	background-color: #ffffff;
	border: 0;
	padding: 0;
	border-radius: 10px;
	moz-border-radius: 10px;
}
.dialogPopupContent .popupTitle {
	color: #a8a8a8;
	font-size: 42px;
}
#popupTitleDiv {
	font-size: 42px;
}
#popupTitleDiv i {
	margin-left: 20px;
	color: #EBEBEB;
	font-size: 24px;
}
/* end: popup dialog */


/* Buttons */

.buttonBase {
	float:left;
	clear: both;
	cursor: pointer;
	text-align: center;
	margin: 0;
	padding: 5px 15px 5px 15px;
	font-size: 15px;
	font-weight: bold;
	font-family: "open-sans",Helvetica,Arial,"Lucida Grande",sans-serif;
	border-radius: 6px;
	border: none;
	&:active {
		position: relative;
		top: 1px;
	}
}
.button1 {
	.buttonBase;
	@buttonActiveColor : @button1Color - @buttonActiveColorOffset;
	background: @button1Color;
	color: white;
	box-shadow: 2px 2px 3px 0px @buttonActiveColor;
	text-shadow: 1px 1px @buttonActiveColor;
	&:hover {
		background: @button1Color - @buttonHoverColorOffset;
	}
	&:active {
		box-shadow: inset 0 3px 7px @buttonActiveColor, 1px 1px 1px 0px @buttonActiveColor;
	}
}
.button2 {
	.buttonBase;
	@buttonActiveColor : @button2Color - @buttonActiveColorOffset;
	background: @button2Color;
	color: white;
	box-shadow: 2px 2px 3px 0px @buttonActiveColor;
	text-shadow: 1px 1px @buttonActiveColor;
	&:hover {
		background: @button2Color - @buttonHoverColorOffset;
	}
	&:active {
		box-shadow: inset 0 3px 7px @buttonActiveColor,1px 1px 1px 0px @buttonActiveColor;
	}
}
.button3 {
	.buttonBase;
	@buttonActiveColor : @button3Color - @buttonActiveColorOffset;
	background: @button3Color;
	color: #5D5D5D;
	box-shadow: 2px 2px 3px 0px @buttonActiveColor;
	text-shadow: 1px 2px #FFFFFF;
	cursor: not-allowed;
}
.nonStandardButton {
	display: block;
	float: left;
	padding: 5px 8px 6px 8px;
	margin: 0;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	border: 1px solid #CCC;
	background-color: white;
	background-color: #FFFFFF;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	color: #555;
	background: -webkit-gradient(linear,left top,left bottom,from(#EEEEEE),to(#FFFFFF));
	background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF);
	background-image: -o-linear-gradient(top, #EEEEEE, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE',endColorstr='#FFFFFF');
	vertical-align: middle;
	&:hover {
		border: 1px solid #777;
		color: #000000;
	}
}
.btn, .button {
	.button1;
}
.callToActionBtn, .callToActionButton {
	.button2;
}
.greyBtn, .greyButton {
	.button3;
}
.btnDehighlight {
	font-size: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	border: 1px solid #CCC;
	background-color: white;
	background-color: #E9E9EF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#E9E9EF));
	background-image: -webkit-linear-gradient(top, white, #E9E9EF);
	background-image: -moz-linear-gradient(top, white, #E9E9EF);
	background-image: -ms-linear-gradient(top, white, #E9E9EF);
	background-image: -o-linear-gradient(top, white, #E9E9EF);
	background-image: linear-gradient(top, white, #E9E9EF);
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	color: #AAAAAA;
}
.btnsmall, span.btnsmall {
	font-size: 14px;
	line-height: 1.25em;
	padding: 1px 8px;
	margin: 0;
}
.btnlarge, span.btnlarge {
	font-size: 18px;
	line-height: 1.5em;
	padding: 0 20px;
}
.btnextralarge, span.btnextralarge {
	font-size: 25px;
	padding: 4px 20px;
	*padding: 0 10px;
}

/* End: Buttons */
