div.tabbed_heading {
    background: -moz-linear-gradient(center top , #F6F6F6, #DDDDDD) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 30px;
    position: relative;
}

div.tabbed_heading h1 {
    font-size: 16px;
    margin-left: 25px;
}

div.tabbed_heading a.blue_tab {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #D5E1ED;
    border-color: #BECFE3 #D5E1ED #F6F6F6;
    border-left: 1px solid #D5E1ED;
    border-right: 1px solid #D5E1ED;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    height: 29px;
    line-height: 30px;
    padding: 0 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}
body.firefox div.tabbed_heading a.blue_tab {
    line-height: 28px;
}

div.tabbed_heading ul {
    height: 28px;
    margin: 0;
    padding-left: 25px;
}
div.tabbed_heading ul li {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
  list-style-type: none;
}
div.tabbed_heading ul li.active {
    background: none repeat scroll 0 0 #F6F6F6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-top: 1px solid #FFFFFF;
    line-height: 26px;
    margin-bottom: 0;
    padding: 0 19px;
}
div.tabbed_heading ul li img {
    position: absolute;
    right: -2px;
    top: -2px;
}
div.tabbed_heading ul li.active img {
    display: none;
}
div.tabbed_heading ul li a {
    color: #777777;
    display: block;
    text-shadow: 0 1px 0 #FFFFFF;
}
div.tabbed_heading ul li a:hover {
    color: #3D85CE;
    text-decoration: none;
}
div.tabbed_heading ul li.active a:hover, div.tabbed_heading ul li.active a {
    color: #AAAAAA;
    cursor: default;
    text-decoration: none;
}
