.field-valid {
	background-color: #e4f8e4;
}

.form-error {
	background-color: #fde9ef;
}

div.successMessage{
	/*color: #fff;*/
	/*width:300px;*/
	background: #e4f8e4;
	padding:7px;
	margin-bottom:3px;
	margin-left:5px;
	display: inline-block;
}

.error-message {
	background-color: #fde9ef;
	color: #f22867;
}

.errorMessages div{ 
	background-color: #fde9ef;
	color: #f22867;
	width:300px;
	padding:7px;
	margin-bottom:3px;
}

#UserLoginErr {
	background-color: #fde9ef;
	color: #f22867;
	width: 55%;
	background-color: #ffffff;
	border: 1px solid #fdb9bf;
	font-size: 11px;
	float: right;
	text-align: center;
	margin-bottom: 10px;
}

div.errorMessageHighlight{ 
	background-color: #f22867;
	color: white;
}
