.badgeEntry{float:left;padding-top:10px;padding-right:20px;font-size:12px}.badgeName{text-align:center}.badgeClaimed{font-weight:700;font-size:12px}.badgeEntriesSection{clear:both;float:left;margin-bottom:40px}.badgeTypeTitle{clear:both;float:left;font-weight:700;font-size:12px}