#videoGallery {
	float: left;
}

.videoBox {
	float: left;
	height: 185px;
	text-align: left;
}

.videoTitle {
	clear: both;
	float: left;
	font-size: 9px;
	width: 180px;
	margin-left: 10px;
	margin-bottom: 15px;
}

.videoThumb {
	float: left;
	width: 135px;
	margin: 0px 0px 0px 5px;
}

.playButtonOverlay {
	display: block;
	background: url('../../img/prettyPhoto/videoPlayButton.png') center center no-repeat;
	float: left;
}

.vidThumb {
	opacity: .6;
}

/* --- viewport configuration ---------------------------------------------------------- */
.viewport {
	border: 3px solid #eee;
	float: left;
	overflow: hidden;
	position: relative;
	height: 127px;
	width: 190px;
	margin-bottom: 5px;
}

/* This is so that the 2nd thumbnail in each row fits snugly. You will want to add a similar
class to the last thumbnail in each row to get rid of the margin-right. */
.no-margin {
	margin-right: 0;
}

/* --- Link configuration that contains the image and label ----------------------------- */
.viewport a {
	display: block;
	position: relative;
}

.viewport a img.magnify {
	left: -10px;
	position: relative;
	top: -10px;
	height: 139px;
	width: 211px;
}

/* --- Label configuration -------------------------------------------------------------- */
.viewport a span {
	display: none;
	font-size: 11px;
	font-weight: bold;
	height: 100%;
	/*padding-top: 120px;*/
	position: absolute;
	text-align: center;
	text-decoration: none;
	width: 100%;
	z-index: 100;
}
.viewport a span em {
	display: block;
	font-size: 11px;
	font-weight: bold;
}

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
	background-color: rgba(15, 15, 15, 0.6);
	color: #fff;
	text-shadow: #000 0px 0px 20px;
}
.dark-background em {
	color: #ccc;
}

/* --- Light hover background ----------------------------------------------------------- */
.light-background {
	background-color: rgba(255, 255, 255, 0.6);
	color: #333;
	text-shadow: #fff 0px 0px 20px;
}
.light-background em {
	color: #707070;
}
.light-background img {
	float: left;
}
