#videoarea {
	float: left;
	clear: both;
	width: 95%;
	background: #333;
	background: -webkit-linear-gradient(top, #555 0%,#333 100%);
	margin-bottom: 15px;
	border-radius: 8px;
	padding: 12px;
	text-align: left;
}

.videoareaBorder {
	border-bottom: 2px solid #D8E0F0;
	border-color: #D8E0F0;
	border-width: 1px;
}

#videoTitle {
	float: left;
	margin-top: 5px;
	font-weight: bold;
	width: 80%;
}

.videoBorder {
	float: left;
	width: 100%;
	margin-top: 15px;
}

#browseVideo {
	float: left;
	width: 100%;
}

#browseVideoText {
	float: left;
	width: 100%;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

#prevBrowse {
	float: left;
	margin-left: 220px;
	font-weight: normal;
	color: #BBB;
}

#nextBrowse {
	float: left;
	margin-left: 50px;
	font-weight: normal;
	color: #BBB;
}

#prevBrowse a, #nextBrowse a {
	font-weight: bold;
}

#prevBrowse a:hover, #nextBrowse a:hover {
	cursor: pointer;
}

#bigSingleVideo {
	float: left;
	clear: both;
	text-align: center;
	width: 95%;
}

.mainVideo {
	float: left;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 25px 10px;
	background: #000;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 15px;
	margin-right: 15px;
}

.singleVideoStatistics {
	float: left;
	width: 99%;
	margin-bottom: 5px;
	text-align: left;
	margin-left: 5px;
}

#singleVideoTitle {
	float: left;
	clear: both;
	width: 98%;
	font-size: 18px;
	text-align: center;
	color: #EEE;
}

#singleVideoCredit {
	float: left;
	clear: both;
	font-size: 11px;
	color: #fff;
}

#singleVideoDesc {
	float: left;
	clear: both;
	width: 100%;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: arial;
	color: #BBB;
}

#singleVideoKeywords {
	float: left;
	clear: both;
	width: 100%;
	font-size: 11px;
	margin-bottom: 0px;
	color: #bbb;
}

.videoEntry {
	float: left;
	max-width: 100px;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
	border-right: 5px solid #777;
	border-left: 5px solid #777;
	border-top: 3px solid #777;
	border-bottom: 3px solid #777;
	background: #777;
	border-color: #777;
	border-radius: 5px;
}

.videoEntry:hover {
	background: #fff;
	border-color: #fff;
}

.selectedVideo {
	border-right: 5px solid #fff;
	border-left: 5px solid #fff;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background: #fff;
	border-color: #fff;
	border-radius: 5px;
}

.videoID {
	text-align: center;
}

#bottomarea {
	float: left;
	color: #999;
	font-size: 11px;
	margin-bottom: 20px;
}

#uploader a:hover {
	color: #fff;
}
