/* Tiny Circleslider */
#rotatescroll { height:300px; position:relative; width:300px; margin-bottom: 20px;}
#rotatescroll .circleSliderViewport { height:300px; position: relative; margin:0 auto; overflow:hidden; width:300px }
#rotatescroll .overview { position: absolute; width: 798px; list-style: none; margin: 0; padding: 0;  left: 0; top: 0; }
#rotatescroll .overview li { height:300px; width:300px; float: left; position: relative; }
#rotatescroll .overlay {background:url('../../../img/tinycircleslider/bg-rotatescroll.png') no-repeat 0 0;  position: absolute; left: 0; top: 0; height:300px; width:300px; cursor: pointer;}

#rotatescroll .dot { background:url('../../../img/tinycircleslider/bg-dot.png') no-repeat 0 0; display: none; height: 12px; width: 12px; position: absolute; left: 155px; top: 3px; z-index: 100;}
#rotatescroll .dot span { display: none; }

/*
#rotatescroll .thumb { background:url('../../../img/tinycircleslider/bg-thumb.png') no-repeat 50% 50%; position: absolute; top: -3px; cursor: pointer; left: 137px; width: 20px; z-index: 200;  height: 20px; border: 8px solid #000; border-radius: 25px;}
*/

#rotatescroll .thumb { color: #aaa; display: inline-block; font-family: 'WebSymbolsRegular', cursive; font-size: 26px; position: absolute; top: -3px; cursor: pointer; left: 137px; width: 20px; z-index: 200; height: 20px; margin-left: -2px; margin-top: -8px;}
