#notLoggedInContainerTitle{margin-bottom:15px;color:#778;font-size:20px;text-align:center;margin-right:10px}#notLoggedInText{margin-bottom:20px;text-align:center}#JoinRavePad{margin-left:0}#Login{margin-left:10px}